src/recruiting/index.pug
include ../include/_mixin.pug
doctype html
html(lang="ja")
    head
        include ../include/_head.pug
        include ../include/_config.pug
            - var key = "recruiting"
            - var page = page[key]
                include ../include/_meta.pug
        // stylesheets
        link(rel="stylesheet" href=rootPath + "asset/css/theme-recruiting.css")

    body.recruiting
        .l-limit
            include ../include/_header.pug

            //- =================================================================================================

            //- Let's Coding!!
            .l-frame.c-frombottom
                ul.c-breadcrumb
                    li.c-breadcrumb__item: a(href="") 株式会社ブリーチ&nbsp;/&nbsp;
                    li.c-breadcrumb__item: a(href="") Recruiting

                .l-col.l-col--sp
                    h2.c-h1 リクルーティング
                    .c-category: img(src="image/category-recruiting.png" alt="")

            //- =================================================================================================

            .l-frame
                .l-frame--md.t-cover.c-frombottom
                    p.c-h3 募集職種
                    .t-block
                        p.c-p クライアント企業、そして自社の事業を成長させるために、BLEACHには、「グロースハッカー」、「セールスライター」、「プロモーションプランナー」といったポジションがあります。いずれのポジションにおいても、新しいビジネスモデルで急成長中のベンチャー企業ならではの、仕事の魅力があります。

                    table.t-table--pc
                        tr
                            td.t-table--first 職種名
                            td 仕事概要
                            td 仕事の魅力
                        tr
                            th グロースハッカー
                            td マーケティング力を活かし、Web広告の運用業務を中心に、クライアントの売上と自社の利益を向上させるミッションを担当
                            td 月に数千万円単位の広告出稿とクリエイティブをコントロールし、クライアントの商材の売上拡大に寄与する仕事です。手掛けた商材の売上が伸びることで、新しい流行を生み出すことにもつながります
                        tr
                            th セールスライター
                            td クライアント企業の商材の広告クリエイティブ（Webサイト・動画）と、そのナレッジ化・体系化を担当
                            td ユーザーに「買ってもらう」ための、クリエイティブを制作する中で、通常の広告とは異なるスキルが身につきます。また、ナレッジ化を推進することにより、多くの広告の「勝ちパターン」を吸収することもできます
                        tr.t-table--last
                            th プロモーションプランナー
                            td クライアント企業とともに、プロモーション戦略の立案と実行を担当
                            td 商材の販売戦略をゼロから練り、クライアント企業とともに、その実現のために知恵を絞る仕事。「広告が売れる」ではなく、「商品が売れる」ことがゴール。クライアントの経営戦略立案に携わるケースも多くあります

                    table.t-table--sp
                        tr
                            th 職種名
                            td: b グロースハッカー
                            th 仕事概要
                            td マーケティング力を活かし、Web広告の運用業務を中心に、クライアントの売上と自社の利益を向上させるミッションを担当
                            th 仕事の魅力
                            td 月に数千万円単位の広告出稿とクリエイティブをコントロールし、クライアントの商材の売上拡大に寄与する仕事です。手掛けた商材の売上が伸びることで、新しい流行を生み出すことにもつながります
                        tr
                            th 職種名
                            td: b セールスライター
                            th 仕事概要
                            td クライアント企業の商材の広告クリエイティブ（Webサイト・動画）と、そのナレッジ化・体系化を担当
                            th 仕事の魅力
                            td ユーザーに「買ってもらう」ための、クリエイティブを制作する中で、通常の広告とは異なるスキルが身につきます。また、ナレッジ化を推進することにより、多くの広告の「勝ちパターン」を吸収することもできます
                        tr.t-table--last
                            th 職種名
                            td: b プロモーションプランナー
                            th 仕事概要
                            td クライアント企業とともに、プロモーション戦略の立案と実行を担当
                            th 仕事の魅力
                            td 商材の販売戦略をゼロから練り、クライアント企業とともに、その実現のために知恵を絞る仕事。「広告が売れる」ではなく、「商品が売れる」ことがゴール。クライアントの経営戦略立案に携わるケースも多くあります

            //- =================================================================================================

            .l-frame
                .l-frame--md
                    p.c-h3 福利厚生・制度

                    .t-list
                        p.t-list__title 食事・軽食フリー

                        .l-col.t-list--col
                            .t-list__item.c-frombottom
                                .t-list__item__image: img(src="image/welfare_01.jpg", alt="")
                                p.t-list__item__heading ランチサポート
                                p.t-list__item__content オフィスおかん、OFFICE DE YASAIを導入
                            .t-list__item.c-frombottom
                                .t-list__item__image: img(src="image/welfare_02.jpg", alt="")
                                p.t-list__item__heading フリードリンク
                                p.t-list__item__content レッドブルも含めたドリンクもすべて無料
                            .t-list__item.c-frombottom
                                .t-list__item__image: img(src="image/welfare_03.jpg", alt="")
                                p.t-list__item__heading フリー軽食
                                p.t-list__item__content ウイダーインゼリーやカロリーメイトもすべて無料

                    .t-list
                        p.t-list__title 食事会・
                            br.u-hidden-pc
                            |社内コミュニケーション

                        .l-col.t-list--col
                            .t-list__item.c-frombottom
                                .t-list__item__image: img(src="image/welfare_04.jpg", alt="")
                                p.t-list__item__heading マイヒストリータイム
                                p.t-list__item__content 新入社員には、1時間「自分の経歴」を語っていただきます。会社の仲間に自分のキャラクターを理解してもらい、スムーズに仕事ができるようになる大切なイベントです
                            .t-list__item.c-frombottom
                                .t-list__item__image: img(src="image/welfare_05.jpg", alt="")
                                p.t-list__item__heading 月曜日食事会
                                p.t-list__item__content 毎週月曜は、親睦を深めるために食事会を開催。「今週も1週間よろしくお願いします！」
                            .t-list__item.c-frombottom
                                .t-list__item__image: img(src="image/welfare_06.jpg", alt="")
                                p.t-list__item__heading シャッフルディナー
                                p.t-list__item__content 月に1回、所属部署を問わずグループを决めてディナーを実施。部署の垣根を超えて、将来を語り合います
                            .t-list__item.c-frombottom
                                .t-list__item__image: img(src="image/welfare_07.jpg", alt="")
                                p.t-list__item__heading 誕生日会
                                p.t-list__item__content 仲間への感謝を忘れないために誕生日は全員でお祝いをしています
                            .t-list__item.c-frombottom
                                .t-list__item__image: img(src="image/welfare_08.jpg", alt="")
                                p.t-list__item__heading 社員合宿
                                p.t-list__item__content 四半期に一度、社員研修合宿を開催。写真は熱海での合宿時のもの

                    .t-list
                        p.t-list__title 自己研鑽サポート

                        .l-col.t-list--col
                            .t-list__item.c-frombottom
                                .t-list__item__image: img(src="image/welfare_09.jpg", alt="")
                                p.t-list__item__heading 書籍購入
                                p.t-list__item__content 社員研修の一環として、月5000円まで書籍購入費を支給
                            .t-list__item.c-frombottom
                                .t-list__item__image: img(src="image/welfare_10.jpg", alt="")
                                p.t-list__item__heading セミナー費負担
                                p.t-list__item__content 社員研修の一環として、セミナー参加費用を支給（要相談）

                    .t-list
                        p.t-list__title 健康サポート

                        .l-col.t-list--col
                            .t-list__item.c-frombottom
                                .t-list__item__image: img(src="image/welfare_11.jpg", alt="")
                                p.t-list__item__heading R-1フリー
                                p.t-list__item__content 健康管理を考え、明治プロビオヨーグルトR-1を毎日支給
                            .t-list__item.c-frombottom
                                .t-list__item__image: img(src="image/welfare_12.jpg", alt="")
                                p.t-list__item__heading ジム手配
                                p.t-list__item__content スポーツジム代を、上限1万円まで支給
                            .t-list__item.c-frombottom
                                .t-list__item__image: img(src="image/welfare_13.jpg", alt="")
                                p.t-list__item__heading アーロンチェア
                                p.t-list__item__content 高機能ワークチェアHerman Miller社のアーロンチェアを全員に支給

                    .t-list.t-list--last
                        p.t-list__title 住宅・引っ越し補助

                        .l-col.t-list--col
                            .t-list__item.c-frombottom
                                .t-list__item__image: img(src="image/welfare_14.jpg", alt="")
                                p.t-list__item__heading 社宅補助、住宅手配
                                p.t-list__item__content オフィスから2㎞圏内に住めば、家賃を最大5万円支給（条件有、社宅のみ）
                            .t-list__item.c-frombottom
                                .t-list__item__image: img(src="image/welfare_15.jpg", alt="")
                                p.t-list__item__heading 引っ越し費用・最大半額支給
                                p.t-list__item__content 社宅に引っ越す際に、その費用を最大半額支給

            //- =================================================================================================

            .l-frame
                .c-btn: a(href=rootPath + "./index.html") トップページに戻る

            //- =================================================================================================

            include ../include/_footer.pug
        include ../include/_scripts.pug
        script(src=rootPath + "asset/js/min/slick.min.js")
        script(src=rootPath + "asset/js/min/vivus.min.js")
        //- script(src=rootPath + "asset/js/theme-recruiting.js")

dest/recruiting/index.html
<!DOCTYPE html>
<html lang="ja">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width">
		<meta name="format-detection" content="telephone=no">
		<meta name="robots" content="index,follow">
		<!-- main title-->
		<title>株式会社ブリーチ | Recruiting 採用情報・企業概要</title>
		<!-- meta tags-->
		<meta name="description" content="株式会社ブリーチは「商売を大きく。日本から世界へ、冒険的な成長を。」というビジョンを掲げ、統合型デジタルマーケティングでD2C支援No.1を目指す企業です。私たちは、「ココロを共感させるマーケティング力」と「圧倒的な数字の分析力」、「成果を出す強い意志」を武器に社会のニーズに対して新しい解決策を生み出し続けます。">
		<meta property="og:title" content="株式会社ブリーチ | Recruiting 採用情報・企業概要">
		<meta property="og:type" content="website">
		<meta property="og:image" content="http://bleach.co.jp/og.png">
		<meta property="og:url" content="http://bleach.co.jp/recruit.html">
		<meta property="og:description" content="株式会社ブリーチは「商売を大きく。日本から世界へ、冒険的な成長を。」というビジョンを掲げ、統合型デジタルマーケティングでD2C支援No.1を目指す企業です。私たちは、「ココロを共感させるマーケティング力」と「圧倒的な数字の分析力」、「成果を出す強い意志」を武器に社会のニーズに対して新しい解決策を生み出し続けます。">
		<!-- favicon-->
		<link rel="shortcut icon" href="../favicon.ico" type="image/x-icon">
		<!-- google fonts-->
		<link href="https://fonts.googleapis.com/css?family=Roboto:300,400" rel="stylesheet">
		<!-- stylesheets-->
		<link rel="stylesheet" href="../asset/css/theme-recruiting.css">
	</head>
	<body class="recruiting">
		<div class="l-limit">
			<div class="l-header">
				<div class="l-line"><span></span></div>
				<h1 class="l-header__logo"><a href="#" title="株式会社ブリーチ"><img src="../image/logo.png" alt="株式会社ブリーチ"></a></h1>
				<div class="l-col l-header__gnav">
					<div class="l-nav l-col">
						<ul class="l-nav__ul l-nav__ul--main l-col">
							<li class="l-nav__ul__item"><a class="bar-home" href="../index.html">Home</a></li>
							<li class="l-nav__ul__item"><a class="bar-company" href="../company/index.html">Company</a></li>
							<li class="l-nav__ul__item"><a class="bar-vision" href="../vision/index.html">Vision</a></li>
							<li class="l-nav__ul__item"><a class="bar-service" href="../service/index.html">Service</a></li>
							<li class="l-nav__ul__item l-nav__ul__item--btn">Interview<span></span>
								<ul class="l-nestnav">
									<li class="l-nestnav__item"><a href="../interview/ohira.html">代表取締役社長（大平啓介）</a></li>
									<li class="l-nestnav__item"><a href="../interview/mizutani.html">マネージャー（水谷慶）</a></li>
									<li class="l-nestnav__item"><a href="../interview/watanabe.html">マネージャー（渡邉緑）</a></li>
									<li class="l-nestnav__item"><a href="../interview/nakamura.html">セールスライター（中村悠人）</a></li>
									<li class="l-nestnav__item"><a href="../interview/shimizu.html">セールスライター（清水里沙）</a></li>
									<li class="l-nestnav__item"><a href="../interview/nishimura.html">グロースハッカー（西村政晃）</a></li>
									<li class="l-nestnav__item"><a href="../interview/suzuki.html">セールスライター（鈴木大志）</a></li>
								</ul>
							</li>
							<li class="l-nav__ul__item"><a class="bar-recruiting" href="../recruiting/index.html">Recruiting</a></li>
						</ul>
					</div>
					<div class="l-nav l-col">
						<ul class="l-nav__ul l-nav__ul--sub l-col l-col--sp">
							<li class="l-nav__ul__item l-nav__ul__item--entry l-nav__ul__item--bg"><a class="c-bg" href="../blog/">Blog</a></li>
							<li class="l-nav__ul__item l-nav__ul__item--entry l-nav__ul__item--ng"><a class="c-ng" href="https://job.mynavi.jp/21/pc/search/corp229819/outline.html" target="_blank">新卒エントリー</a></li>
							<li class="l-nav__ul__item l-nav__ul__item--entry l-nav__ul__item--mc"><a class="c-mc" href="https://hrmos.co/pages/bleach" target="_blank">中途エントリー</a></li>
						</ul>
					</div>
				</div>
			</div>
			<div class="l-frame c-frombottom">
				<ul class="c-breadcrumb">
					<li class="c-breadcrumb__item"><a href="">株式会社ブリーチ&nbsp;/&nbsp;</a></li>
					<li class="c-breadcrumb__item"><a href="">Recruiting</a></li>
				</ul>
				<div class="l-col l-col--sp">
					<h2 class="c-h1">リクルーティング</h2>
					<div class="c-category"><img src="image/category-recruiting.png" alt=""></div>
				</div>
			</div>
			<div class="l-frame">
				<div class="l-frame--md t-cover c-frombottom">
					<p class="c-h3">募集職種</p>
					<div class="t-block">
						<p class="c-p">クライアント企業、そして自社の事業を成長させるために、BLEACHには、「グロースハッカー」、「セールスライター」、「プロモーションプランナー」といったポジションがあります。いずれのポジションにおいても、新しいビジネスモデルで急成長中のベンチャー企業ならではの、仕事の魅力があります。</p>
					</div>
					<table class="t-table--pc">
						<tr>
							<td class="t-table--first">職種名</td>
							<td>仕事概要</td>
							<td>仕事の魅力</td>
						</tr>
						<tr>
							<th>グロースハッカー</th>
							<td>マーケティング力を活かし、Web広告の運用業務を中心に、クライアントの売上と自社の利益を向上させるミッションを担当</td>
							<td>月に数千万円単位の広告出稿とクリエイティブをコントロールし、クライアントの商材の売上拡大に寄与する仕事です。手掛けた商材の売上が伸びることで、新しい流行を生み出すことにもつながります</td>
						</tr>
						<tr>
							<th>セールスライター</th>
							<td>クライアント企業の商材の広告クリエイティブ（Webサイト・動画）と、そのナレッジ化・体系化を担当</td>
							<td>ユーザーに「買ってもらう」ための、クリエイティブを制作する中で、通常の広告とは異なるスキルが身につきます。また、ナレッジ化を推進することにより、多くの広告の「勝ちパターン」を吸収することもできます</td>
						</tr>
						<tr class="t-table--last">
							<th>プロモーションプランナー</th>
							<td>クライアント企業とともに、プロモーション戦略の立案と実行を担当</td>
							<td>商材の販売戦略をゼロから練り、クライアント企業とともに、その実現のために知恵を絞る仕事。「広告が売れる」ではなく、「商品が売れる」ことがゴール。クライアントの経営戦略立案に携わるケースも多くあります</td>
						</tr>
					</table>
					<table class="t-table--sp">
						<tr>
							<th>職種名</th>
							<td><b>グロースハッカー</b></td>
							<th>仕事概要</th>
							<td>マーケティング力を活かし、Web広告の運用業務を中心に、クライアントの売上と自社の利益を向上させるミッションを担当</td>
							<th>仕事の魅力</th>
							<td>月に数千万円単位の広告出稿とクリエイティブをコントロールし、クライアントの商材の売上拡大に寄与する仕事です。手掛けた商材の売上が伸びることで、新しい流行を生み出すことにもつながります</td>
						</tr>
						<tr>
							<th>職種名</th>
							<td><b>セールスライター</b></td>
							<th>仕事概要</th>
							<td>クライアント企業の商材の広告クリエイティブ（Webサイト・動画）と、そのナレッジ化・体系化を担当</td>
							<th>仕事の魅力</th>
							<td>ユーザーに「買ってもらう」ための、クリエイティブを制作する中で、通常の広告とは異なるスキルが身につきます。また、ナレッジ化を推進することにより、多くの広告の「勝ちパターン」を吸収することもできます</td>
						</tr>
						<tr class="t-table--last">
							<th>職種名</th>
							<td><b>プロモーションプランナー</b></td>
							<th>仕事概要</th>
							<td>クライアント企業とともに、プロモーション戦略の立案と実行を担当</td>
							<th>仕事の魅力</th>
							<td>商材の販売戦略をゼロから練り、クライアント企業とともに、その実現のために知恵を絞る仕事。「広告が売れる」ではなく、「商品が売れる」ことがゴール。クライアントの経営戦略立案に携わるケースも多くあります</td>
						</tr>
					</table>
				</div>
			</div>
			<div class="l-frame">
				<div class="l-frame--md">
					<p class="c-h3">福利厚生・制度</p>
					<div class="t-list">
						<p class="t-list__title">食事・軽食フリー</p>
						<div class="l-col t-list--col">
							<div class="t-list__item c-frombottom">
								<div class="t-list__item__image"><img src="image/welfare_01.jpg" alt=""></div>
								<p class="t-list__item__heading">ランチサポート</p>
								<p class="t-list__item__content">オフィスおかん、OFFICE DE YASAIを導入</p>
							</div>
							<div class="t-list__item c-frombottom">
								<div class="t-list__item__image"><img src="image/welfare_02.jpg" alt=""></div>
								<p class="t-list__item__heading">フリードリンク</p>
								<p class="t-list__item__content">レッドブルも含めたドリンクもすべて無料</p>
							</div>
							<div class="t-list__item c-frombottom">
								<div class="t-list__item__image"><img src="image/welfare_03.jpg" alt=""></div>
								<p class="t-list__item__heading">フリー軽食</p>
								<p class="t-list__item__content">ウイダーインゼリーやカロリーメイトもすべて無料</p>
							</div>
						</div>
					</div>
					<div class="t-list">
						<p class="t-list__title">食事会・<br class="u-hidden-pc">社内コミュニケーション</p>
						<div class="l-col t-list--col">
							<div class="t-list__item c-frombottom">
								<div class="t-list__item__image"><img src="image/welfare_04.jpg" alt=""></div>
								<p class="t-list__item__heading">マイヒストリータイム</p>
								<p class="t-list__item__content">新入社員には、1時間「自分の経歴」を語っていただきます。会社の仲間に自分のキャラクターを理解してもらい、スムーズに仕事ができるようになる大切なイベントです</p>
							</div>
							<div class="t-list__item c-frombottom">
								<div class="t-list__item__image"><img src="image/welfare_05.jpg" alt=""></div>
								<p class="t-list__item__heading">月曜日食事会</p>
								<p class="t-list__item__content">毎週月曜は、親睦を深めるために食事会を開催。「今週も1週間よろしくお願いします！」</p>
							</div>
							<div class="t-list__item c-frombottom">
								<div class="t-list__item__image"><img src="image/welfare_06.jpg" alt=""></div>
								<p class="t-list__item__heading">シャッフルディナー</p>
								<p class="t-list__item__content">月に1回、所属部署を問わずグループを决めてディナーを実施。部署の垣根を超えて、将来を語り合います</p>
							</div>
							<div class="t-list__item c-frombottom">
								<div class="t-list__item__image"><img src="image/welfare_07.jpg" alt=""></div>
								<p class="t-list__item__heading">誕生日会</p>
								<p class="t-list__item__content">仲間への感謝を忘れないために誕生日は全員でお祝いをしています</p>
							</div>
							<div class="t-list__item c-frombottom">
								<div class="t-list__item__image"><img src="image/welfare_08.jpg" alt=""></div>
								<p class="t-list__item__heading">社員合宿</p>
								<p class="t-list__item__content">四半期に一度、社員研修合宿を開催。写真は熱海での合宿時のもの</p>
							</div>
						</div>
					</div>
					<div class="t-list">
						<p class="t-list__title">自己研鑽サポート</p>
						<div class="l-col t-list--col">
							<div class="t-list__item c-frombottom">
								<div class="t-list__item__image"><img src="image/welfare_09.jpg" alt=""></div>
								<p class="t-list__item__heading">書籍購入</p>
								<p class="t-list__item__content">社員研修の一環として、月5000円まで書籍購入費を支給</p>
							</div>
							<div class="t-list__item c-frombottom">
								<div class="t-list__item__image"><img src="image/welfare_10.jpg" alt=""></div>
								<p class="t-list__item__heading">セミナー費負担</p>
								<p class="t-list__item__content">社員研修の一環として、セミナー参加費用を支給（要相談）</p>
							</div>
						</div>
					</div>
					<div class="t-list">
						<p class="t-list__title">健康サポート</p>
						<div class="l-col t-list--col">
							<div class="t-list__item c-frombottom">
								<div class="t-list__item__image"><img src="image/welfare_11.jpg" alt=""></div>
								<p class="t-list__item__heading">R-1フリー</p>
								<p class="t-list__item__content">健康管理を考え、明治プロビオヨーグルトR-1を毎日支給</p>
							</div>
							<div class="t-list__item c-frombottom">
								<div class="t-list__item__image"><img src="image/welfare_12.jpg" alt=""></div>
								<p class="t-list__item__heading">ジム手配</p>
								<p class="t-list__item__content">スポーツジム代を、上限1万円まで支給</p>
							</div>
							<div class="t-list__item c-frombottom">
								<div class="t-list__item__image"><img src="image/welfare_13.jpg" alt=""></div>
								<p class="t-list__item__heading">アーロンチェア</p>
								<p class="t-list__item__content">高機能ワークチェアHerman Miller社のアーロンチェアを全員に支給</p>
							</div>
						</div>
					</div>
					<div class="t-list t-list--last">
						<p class="t-list__title">住宅・引っ越し補助</p>
						<div class="l-col t-list--col">
							<div class="t-list__item c-frombottom">
								<div class="t-list__item__image"><img src="image/welfare_14.jpg" alt=""></div>
								<p class="t-list__item__heading">社宅補助、住宅手配</p>
								<p class="t-list__item__content">オフィスから2㎞圏内に住めば、家賃を最大5万円支給（条件有、社宅のみ）</p>
							</div>
							<div class="t-list__item c-frombottom">
								<div class="t-list__item__image"><img src="image/welfare_15.jpg" alt=""></div>
								<p class="t-list__item__heading">引っ越し費用・最大半額支給</p>
								<p class="t-list__item__content">社宅に引っ越す際に、その費用を最大半額支給</p>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="l-frame">
				<div class="c-btn"><a href=".././index.html">トップページに戻る</a></div>
			</div>
			<div class="l-footer">
				<div class="l-footer__backtop"><a href=""><img src="../image/backtop.png" alt=""></a></div>
				<div class="l-footer__image"><img src="../image/footer-img01.jpg" alt=""></div>
				<div class="l-frame">
					<div class="l-frame--md">
						<div class="l-col">
							<div class="l-footer__link"><a class="c-ng" href="https://job.mynavi.jp/21/pc/search/corp229819/outline.html" target="_blank"><span>NEW GRADUATE</span><br>新卒採用エントリー</a></div>
							<div class="l-footer__link"><a class="c-mc" href="https://hrmos.co/pages/bleach" target="_blank"><span>MID-CAREER RECRUITMENT</span><br>中途採用エントリー</a></div>
						</div>
					</div>
				</div>
				<div class="l-frame">
					<p class="l-footer__text">SHARE</p>
					<div class="l-col--sp l-footer__sns">
						<div class="l-footer__sns__item"><a href="http://www.facebook.com/share.php?u=http://bleach.co.jp/recruit.html" target="_blank"><img src="../image/icon-facebook.png" alt=""></a></div>
						<div class="l-footer__sns__item"><a href="http://twitter.com/share?&amp;url=http://bleach.co.jp/&amp;hashtags=株式会社ブリーチHP" target="_blank"><img src="../image/icon-twitter.png" alt=""></a></div>
					</div>
				</div>
				<div class="l-frame">
					<div class="l-footer__copyright"><small>Copyright c BLEACH.Inc.All.Rights.Reserved.</small></div>
				</div>
			</div>
		</div>
		<script src="../asset/js/min/jquery-3.1.1.min.js"></script>
		<script src="../asset/js/min/velocity.min.js"></script>
		<script src="../asset/js/min/jquery.inview.min.js"></script>
		<script src="../asset/js/common.js"></script>
		<script src="../asset/js/min/slick.min.js"></script>
		<script src="../asset/js/min/vivus.min.js"></script>
	</body>
</html>
