src/vision/index.pug
include ../include/_mixin.pug
doctype html
html(lang="ja")
    head
        include ../include/_head.pug
        include ../include/_config.pug
            - var key = "vision"
            - var page = page[key]
                include ../include/_meta.pug
        // stylesheets
        link(rel="stylesheet" href=rootPath + "asset/css/theme-vision.css")

    body.vision
        .l-limit
            include ../include/_header.pug

            //- =================================================================================================

            //- Let's Coding!!
            .l-frame.c-frombottom
                ul.c-breadcrumb
                    li.c-breadcrumb__item: a(href="") 株式会社ブリーチ&nbsp;/&nbsp;
                    li.c-breadcrumb__item: a(href="") Vision

                .l-col.l-col--sp
                    h2.c-h1 ビジョン
                    .c-category: img(src="image/category-vision.png" alt="")

            //- =================================================================================================

            .t-section.c-frombottom
                p.c-h3 経営理念
                    br
                    span BLEACHという会社が存在する意義・目的
                
                p.t-section__title 「世界を照らす。」
                
                .l-col
                    p.t-section__text 『BLEACH』という言葉の語源は「輝くこと」。
                        br
                        |「世界を照らす」という理念を社名に込めました。
                        br
                        br
                        |一人ひとりが商売を生み出し、拡大させ、
                        br
                        |自らも成長して輝きを増していくことが、
                        br
                        |世界を照らすことにつながる。
                        br
                        br
                        |会社とは社会機関であり、
                        br
                        |個人の成功や欲のために存在するものではありません。
                        br
                        |小さな成功で終わるのではなく、
                        br
                        |大きな雇用を創造し、
                        br
                        |人を幸せにし続ける仕組みを創っていきます。
                    .t-section__image: img(src="image/vision_02.jpg", alt="")

            //- =================================================================================================

            .t-section.c-frombottom
                p.c-h3 Vision
                    br
                    span BLEACHが目指す姿
                
                p.t-section__title 商売を大きく。
                    br.u-hidden-sp
                    |日本から世界へ、冒険的な成長を。
                
                .l-col
                    p.t-section__text BLEACHは、冒険的な成長を実現したい。
                        br
                        |商売を拡大し、世界へと進出する。
                        br
                        |社会に対しての影響力を持ち、
                        br
                        |経済を大きく回す。その中心になりたい。
                        br
                        br
                        |そして、今よりも自由な存在になる。
                        br
                        |多様な価値を創造し、
                        br
                        |多くの事業の選択肢を持つ会社へと進化したい。
                        br
                        br
                        |新しいBLEACHと、新しい世界を、みんなでつくろう。
                    .t-section__image: img(src="image/vision_01.jpg", alt="")

            //- =================================================================================================

            .l-frame
                .l-frame--md
                    p.c-h3 3つの価値観
                        br
                        span 常に大切にしている会社の文化
                    
                    .t-block.c-frombottom
                        .l-col
                            .t-block__item
                                p.t-block__item__heading 一家団結。
                                p.t-block__item__text BLEACHのカルチャーは、
                                    br.u-hidden-sp
                                    |「一致団結」ではなく、より強固な「一家団結」。
                                    br
                                    br
                                    |ビジネスのシーンだけでなく、プライベートでも語り合う。
                                    br.u-hidden-sp
                                    |自立した個人と個人が、力を合わせて、
                                    br.u-hidden-sp
                                    |世界企業への冒険を突き進む。
                                    br
                                    br
                                    |競争よりも、共創。
                                    br.u-hidden-sp
                                    |競うのではなく、協力して、
                                    br.u-hidden-sp
                                    |互いに刺激を与えながら、より大きな成果を生み出す。
                                    br
                                    br
                                    |夢はみんなで実現してこそ、喜べるものになる。
                            .t-block__image: img(src="image/value_01.jpg", alt="")

                    .t-block.c-frombottom
                        .l-col.l-col--rr
                            .t-block__item
                                p.t-block__item__heading ハマろう。楽しもう。
                                p.t-block__item__text 目の前の仕事に、
                                    br.u-hidden-sp
                                    |我を忘れて熱狂する。没頭する。
                                    br.u-hidden-sp
                                    |そして、心の底から楽しむ。
                                    br
                                    br
                                    |一人ひとりの仕事へのエネルギーが、
                                    br.u-hidden-sp
                                    |商売を生み出し、拡大させ、
                                    br.u-hidden-sp
                                    |BLEACHという会社を輝かせる。
                                    br
                                    br
                                    |「仕事にハマることがカッコいい」
                                    br.u-hidden-sp
                                    |そんな価値観をつくって、世の中に広めていきたい。
                            .t-block__image: img(src="image/value_02.jpg", alt="")

                    .t-block.c-frombottom
                        .l-col
                            .t-block__item
                                p.t-block__item__heading 全員・プロアスリート。
                                p.t-block__item__text 一人ひとりが、プロアスリートのように、
                                    br.u-hidden-sp
                                    |自らを鍛え上げ、常に高みを目指す。
                                    br.u-hidden-sp
                                    |そして、大きな商売をつくれる人材へと
                                    br.u-hidden-sp
                                    |加速度的に成長していく。
                                    br
                                    br
                                    |相手の要望に応えるのは、ただのプロ。
                                    br.u-hidden-sp
                                    |私たちは、期待を常に超えて相手を感動させる、
                                    br.u-hidden-sp
                                    |「ハイ・プロフェッショナル」へと進化する。
                                    br
                                    br
                                    |BLEACHは、
                                    br.u-hidden-sp
                                    |市場価値の突出した人材が、
                                    br.u-hidden-sp
                                    |己を磨きあう集団でありたい。
                            .t-block__image: img(src="image/value_03.jpg", alt="")

            //- =================================================================================================

            //- .l-frame
            //-     .l-frame--md
            //-         p.c-h3 福利厚生・制度

            //-         .t-list
            //-             p.t-list__title 食事・軽食フリー

            //-             .l-col.t-list--col
            //-                 .t-list__item.c-frombottom
            //-                     .t-list__item__image: img(src="image/welfare_01.jpg", alt="")
            //-                     p.t-list__item__heading フリーランチ
            //-                     p.t-list__item__content オフィスおかん、OFFICE DE YASAIを導入。昼食はすべて無料
            //-                 .t-list__item.c-frombottom
            //-                     .t-list__item__image: img(src="image/welfare_02.jpg", alt="")
            //-                     p.t-list__item__heading フリードリンク
            //-                     p.t-list__item__content レッドブルも含めたドリンクもすべて無料
            //-                 .t-list__item.c-frombottom
            //-                     .t-list__item__image: img(src="image/welfare_03.jpg", alt="")
            //-                     p.t-list__item__heading フリー軽食
            //-                     p.t-list__item__content ウイダーインゼリーやカロリーメイトもすべて無料

            //-         .t-list
            //-             p.t-list__title 食事会・
            //-                 br.u-hidden-pc
            //-                 |社内コミュニケーション

            //-             .l-col.t-list--col
            //-                 .t-list__item.c-frombottom
            //-                     .t-list__item__image: img(src="image/welfare_04.jpg", alt="")
            //-                     p.t-list__item__heading 自己紹介タイム
            //-                     p.t-list__item__content 新入社員には、自分自身のキャラクターを周りに理解してもらうため、研修の一貫として1時間の「自己紹介タイム」を用意
            //-                 .t-list__item.c-frombottom
            //-                     .t-list__item__image: img(src="image/welfare_05.jpg", alt="")
            //-                     p.t-list__item__heading 月曜日食事会
            //-                     p.t-list__item__content 毎週月曜は、社員の親睦を深めるために食事会を開催
            //-                 .t-list__item.c-frombottom
            //-                     .t-list__item__image: img(src="image/welfare_06.jpg", alt="")
            //-                     p.t-list__item__heading シャッフルランチ・ディナー
            //-                     p.t-list__item__content 月に2回（ディナーは1回）上限3000円でランチ代支給
            //-                 .t-list__item.c-frombottom
            //-                     .t-list__item__image: img(src="image/welfare_07.jpg", alt="")
            //-                     p.t-list__item__heading 誕生日会
            //-                     p.t-list__item__content 従業員への感謝を忘れないために、誕生日は全員でお祝い
            //-                 .t-list__item.c-frombottom
            //-                     .t-list__item__image: img(src="image/welfare_08.jpg", alt="")
            //-                     p.t-list__item__heading 社員合宿
            //-                     p.t-list__item__content 四半期に一度、社員研修合宿を開催。
            //-                         br
            //-                         |写真はハワイでの合宿時のもの

            //-         .t-list
            //-             p.t-list__title 自己研鑽サポート

            //-             .l-col.t-list--col
            //-                 .t-list__item.c-frombottom
            //-                     .t-list__item__image: img(src="image/welfare_09.jpg", alt="")
            //-                     p.t-list__item__heading 書籍購入
            //-                     p.t-list__item__content 社員研修の一環として、月5000円まで書籍購入費を支給
            //-                 .t-list__item.c-frombottom
            //-                     .t-list__item__image: img(src="image/welfare_10.jpg", alt="")
            //-                     p.t-list__item__heading セミナー費負担
            //-                     p.t-list__item__content 社員研修の一環として、セミナー参加費用を支給（要相談）

            //-         .t-list
            //-             p.t-list__title 健康サポート

            //-             .l-col.t-list--col
            //-                 .t-list__item.c-frombottom
            //-                     .t-list__item__image: img(src="image/welfare_11.jpg", alt="")
            //-                     p.t-list__item__heading R-1フリー
            //-                     p.t-list__item__content 健康管理を考え、明治プロビオヨーグルトR-1を毎日支給
            //-                 .t-list__item.c-frombottom
            //-                     .t-list__item__image: img(src="image/welfare_12.jpg", alt="")
            //-                     p.t-list__item__heading ジム手配
            //-                     p.t-list__item__content スポーツジム代を、上限1万円まで支給
            //-                 .t-list__item.c-frombottom
            //-                     .t-list__item__image: img(src="image/welfare_13.jpg", alt="")
            //-                     p.t-list__item__heading アーロンチェア
            //-                     p.t-list__item__content 高機能ワークチェアHerman Miller社のアーロンチェアを全員に支給

            //-         .t-list.t-list--last
            //-             p.t-list__title 住宅・引っ越し補助

            //-             .l-col.t-list--col
            //-                 .t-list__item.c-frombottom
            //-                     .t-list__item__image: img(src="image/welfare_14.jpg", alt="")
            //-                     p.t-list__item__heading 社宅補助、住宅手配
            //-                     p.t-list__item__content オフィスから2㎞圏内に住めば、家賃を最大5万円支給（条件有、社宅のみ）
            //-                 .t-list__item.c-frombottom
            //-                     .t-list__item__image: img(src="image/welfare_15.jpg", alt="")
            //-                     p.t-list__item__heading 引っ越し費用・最大半額支給
            //-                     p.t-list__item__content 社宅に引っ越す際に、その費用を最大半額支給

            //- =================================================================================================

            .l-frame
                .c-btn: a(href=rootPath + "./index.html") トップページに戻る

            //- =================================================================================================

            include ../include/_footer.pug
        include ../include/_scripts.pug
        script(src=rootPath + "asset/js/min/slick.min.js")
        script(src=rootPath + "asset/js/min/vivus.min.js")
        //- script(src=rootPath + "asset/js/theme-vision.js")

dest/vision/index.html
<!DOCTYPE html>
<html lang="ja">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width">
		<meta name="format-detection" content="telephone=no">
		<meta name="robots" content="index,follow">
		<!-- main title-->
		<title>株式会社ブリーチ | Vision 採用情報・企業概要</title>
		<!-- meta tags-->
		<meta name="description" content="株式会社ブリーチは「商売を大きく。日本から世界へ、冒険的な成長を。」というビジョンを掲げ、統合型デジタルマーケティングでD2C支援No.1を目指す企業です。私たちは、「ココロを共感させるマーケティング力」と「圧倒的な数字の分析力」、「成果を出す強い意志」を武器に社会のニーズに対して新しい解決策を生み出し続けます。">
		<meta property="og:title" content="株式会社ブリーチ | Vision 採用情報・企業概要">
		<meta property="og:type" content="website">
		<meta property="og:image" content="http://bleach.co.jp/og.png">
		<meta property="og:url" content="http://bleach.co.jp/recruit.html">
		<meta property="og:description" content="株式会社ブリーチは「商売を大きく。日本から世界へ、冒険的な成長を。」というビジョンを掲げ、統合型デジタルマーケティングでD2C支援No.1を目指す企業です。私たちは、「ココロを共感させるマーケティング力」と「圧倒的な数字の分析力」、「成果を出す強い意志」を武器に社会のニーズに対して新しい解決策を生み出し続けます。">
		<!-- favicon-->
		<link rel="shortcut icon" href="../favicon.ico" type="image/x-icon">
		<!-- google fonts-->
		<link href="https://fonts.googleapis.com/css?family=Roboto:300,400" rel="stylesheet">
		<!-- stylesheets-->
		<link rel="stylesheet" href="../asset/css/theme-vision.css">
	</head>
	<body class="vision">
		<div class="l-limit">
			<div class="l-header">
				<div class="l-line"><span></span></div>
				<h1 class="l-header__logo"><a href="#" title="株式会社ブリーチ"><img src="../image/logo.png" alt="株式会社ブリーチ"></a></h1>
				<div class="l-col l-header__gnav">
					<div class="l-nav l-col">
						<ul class="l-nav__ul l-nav__ul--main l-col">
							<li class="l-nav__ul__item"><a class="bar-home" href="../index.html">Home</a></li>
							<li class="l-nav__ul__item"><a class="bar-company" href="../company/index.html">Company</a></li>
							<li class="l-nav__ul__item"><a class="bar-vision" href="../vision/index.html">Vision</a></li>
							<li class="l-nav__ul__item"><a class="bar-service" href="../service/index.html">Service</a></li>
							<li class="l-nav__ul__item l-nav__ul__item--btn">Interview<span></span>
								<ul class="l-nestnav">
									<li class="l-nestnav__item"><a href="../interview/ohira.html">代表取締役社長（大平啓介）</a></li>
									<li class="l-nestnav__item"><a href="../interview/mizutani.html">マネージャー（水谷慶）</a></li>
									<li class="l-nestnav__item"><a href="../interview/watanabe.html">マネージャー（渡邉緑）</a></li>
									<li class="l-nestnav__item"><a href="../interview/nakamura.html">セールスライター（中村悠人）</a></li>
									<li class="l-nestnav__item"><a href="../interview/shimizu.html">セールスライター（清水里沙）</a></li>
									<li class="l-nestnav__item"><a href="../interview/nishimura.html">グロースハッカー（西村政晃）</a></li>
									<li class="l-nestnav__item"><a href="../interview/suzuki.html">セールスライター（鈴木大志）</a></li>
								</ul>
							</li>
							<li class="l-nav__ul__item"><a class="bar-recruiting" href="../recruiting/index.html">Recruiting</a></li>
						</ul>
					</div>
					<div class="l-nav l-col">
						<ul class="l-nav__ul l-nav__ul--sub l-col l-col--sp">
							<li class="l-nav__ul__item l-nav__ul__item--entry l-nav__ul__item--bg"><a class="c-bg" href="../blog/">Blog</a></li>
							<li class="l-nav__ul__item l-nav__ul__item--entry l-nav__ul__item--ng"><a class="c-ng" href="https://job.mynavi.jp/21/pc/search/corp229819/outline.html" target="_blank">新卒エントリー</a></li>
							<li class="l-nav__ul__item l-nav__ul__item--entry l-nav__ul__item--mc"><a class="c-mc" href="https://hrmos.co/pages/bleach" target="_blank">中途エントリー</a></li>
						</ul>
					</div>
				</div>
			</div>
			<div class="l-frame c-frombottom">
				<ul class="c-breadcrumb">
					<li class="c-breadcrumb__item"><a href="">株式会社ブリーチ&nbsp;/&nbsp;</a></li>
					<li class="c-breadcrumb__item"><a href="">Vision</a></li>
				</ul>
				<div class="l-col l-col--sp">
					<h2 class="c-h1">ビジョン</h2>
					<div class="c-category"><img src="image/category-vision.png" alt=""></div>
				</div>
			</div>
			<div class="t-section c-frombottom">
				<p class="c-h3">経営理念<br><span>BLEACHという会社が存在する意義・目的</span></p>
				<p class="t-section__title">「世界を照らす。」</p>
				<div class="l-col">
					<p class="t-section__text">『BLEACH』という言葉の語源は「輝くこと」。<br>「世界を照らす」という理念を社名に込めました。<br><br>一人ひとりが商売を生み出し、拡大させ、<br>自らも成長して輝きを増していくことが、<br>世界を照らすことにつながる。<br><br>会社とは社会機関であり、<br>個人の成功や欲のために存在するものではありません。<br>小さな成功で終わるのではなく、<br>大きな雇用を創造し、<br>人を幸せにし続ける仕組みを創っていきます。</p>
					<div class="t-section__image"><img src="image/vision_02.jpg" alt=""></div>
				</div>
			</div>
			<div class="t-section c-frombottom">
				<p class="c-h3">Vision<br><span>BLEACHが目指す姿</span></p>
				<p class="t-section__title">商売を大きく。<br class="u-hidden-sp">日本から世界へ、冒険的な成長を。</p>
				<div class="l-col">
					<p class="t-section__text">BLEACHは、冒険的な成長を実現したい。<br>商売を拡大し、世界へと進出する。<br>社会に対しての影響力を持ち、<br>経済を大きく回す。その中心になりたい。<br><br>そして、今よりも自由な存在になる。<br>多様な価値を創造し、<br>多くの事業の選択肢を持つ会社へと進化したい。<br><br>新しいBLEACHと、新しい世界を、みんなでつくろう。</p>
					<div class="t-section__image"><img src="image/vision_01.jpg" alt=""></div>
				</div>
			</div>
			<div class="l-frame">
				<div class="l-frame--md">
					<p class="c-h3">3つの価値観<br><span>常に大切にしている会社の文化</span></p>
					<div class="t-block c-frombottom">
						<div class="l-col">
							<div class="t-block__item">
								<p class="t-block__item__heading">一家団結。</p>
								<p class="t-block__item__text">BLEACHのカルチャーは、<br class="u-hidden-sp">「一致団結」ではなく、より強固な「一家団結」。<br><br>ビジネスのシーンだけでなく、プライベートでも語り合う。<br class="u-hidden-sp">自立した個人と個人が、力を合わせて、<br class="u-hidden-sp">世界企業への冒険を突き進む。<br><br>競争よりも、共創。<br class="u-hidden-sp">競うのではなく、協力して、<br class="u-hidden-sp">互いに刺激を与えながら、より大きな成果を生み出す。<br><br>夢はみんなで実現してこそ、喜べるものになる。</p>
							</div>
							<div class="t-block__image"><img src="image/value_01.jpg" alt=""></div>
						</div>
					</div>
					<div class="t-block c-frombottom">
						<div class="l-col l-col--rr">
							<div class="t-block__item">
								<p class="t-block__item__heading">ハマろう。楽しもう。</p>
								<p class="t-block__item__text">目の前の仕事に、<br class="u-hidden-sp">我を忘れて熱狂する。没頭する。<br class="u-hidden-sp">そして、心の底から楽しむ。<br><br>一人ひとりの仕事へのエネルギーが、<br class="u-hidden-sp">商売を生み出し、拡大させ、<br class="u-hidden-sp">BLEACHという会社を輝かせる。<br><br>「仕事にハマることがカッコいい」<br class="u-hidden-sp">そんな価値観をつくって、世の中に広めていきたい。</p>
							</div>
							<div class="t-block__image"><img src="image/value_02.jpg" alt=""></div>
						</div>
					</div>
					<div class="t-block c-frombottom">
						<div class="l-col">
							<div class="t-block__item">
								<p class="t-block__item__heading">全員・プロアスリート。</p>
								<p class="t-block__item__text">一人ひとりが、プロアスリートのように、<br class="u-hidden-sp">自らを鍛え上げ、常に高みを目指す。<br class="u-hidden-sp">そして、大きな商売をつくれる人材へと<br class="u-hidden-sp">加速度的に成長していく。<br><br>相手の要望に応えるのは、ただのプロ。<br class="u-hidden-sp">私たちは、期待を常に超えて相手を感動させる、<br class="u-hidden-sp">「ハイ・プロフェッショナル」へと進化する。<br><br>BLEACHは、<br class="u-hidden-sp">市場価値の突出した人材が、<br class="u-hidden-sp">己を磨きあう集団でありたい。</p>
							</div>
							<div class="t-block__image"><img src="image/value_03.jpg" alt=""></div>
						</div>
					</div>
				</div>
			</div>
			<div class="l-frame">
				<div class="c-btn"><a href=".././index.html">トップページに戻る</a></div>
			</div>
			<div class="l-footer">
				<div class="l-footer__backtop"><a href=""><img src="../image/backtop.png" alt=""></a></div>
				<div class="l-footer__image"><img src="../image/footer-img01.jpg" alt=""></div>
				<div class="l-frame">
					<div class="l-frame--md">
						<div class="l-col">
							<div class="l-footer__link"><a class="c-ng" href="https://job.mynavi.jp/21/pc/search/corp229819/outline.html" target="_blank"><span>NEW GRADUATE</span><br>新卒採用エントリー</a></div>
							<div class="l-footer__link"><a class="c-mc" href="https://hrmos.co/pages/bleach" target="_blank"><span>MID-CAREER RECRUITMENT</span><br>中途採用エントリー</a></div>
						</div>
					</div>
				</div>
				<div class="l-frame">
					<p class="l-footer__text">SHARE</p>
					<div class="l-col--sp l-footer__sns">
						<div class="l-footer__sns__item"><a href="http://www.facebook.com/share.php?u=http://bleach.co.jp/recruit.html" target="_blank"><img src="../image/icon-facebook.png" alt=""></a></div>
						<div class="l-footer__sns__item"><a href="http://twitter.com/share?&amp;url=http://bleach.co.jp/&amp;hashtags=株式会社ブリーチHP" target="_blank"><img src="../image/icon-twitter.png" alt=""></a></div>
					</div>
				</div>
				<div class="l-frame">
					<div class="l-footer__copyright"><small>Copyright c BLEACH.Inc.All.Rights.Reserved.</small></div>
				</div>
			</div>
		</div>
		<script src="../asset/js/min/jquery-3.1.1.min.js"></script>
		<script src="../asset/js/min/velocity.min.js"></script>
		<script src="../asset/js/min/jquery.inview.min.js"></script>
		<script src="../asset/js/common.js"></script>
		<script src="../asset/js/min/slick.min.js"></script>
		<script src="../asset/js/min/vivus.min.js"></script>
	</body>
</html>
