src/interview/mizutani.pug
include ../include/_mixin.pug
doctype html
html(lang="ja")
    head
        include ../include/_head.pug
        include ../include/_config.pug
            - var key = "interview_mizutani"
            - var page = page[key]
                include ../include/_meta.pug
        // stylesheets
        link(rel="stylesheet" href=rootPath + "asset/css/jquery.bxslider.css")
        link(rel="stylesheet" href=rootPath + "asset/css/theme-interview.css")

    body.interview(class=key)
        .l-limit
            include ../include/_header.pug

            //- =================================================================================================

            //- Let's Coding!!
            .l-frame.c-frombottom
                ul.c-breadcrumb
                    li.c-breadcrumb__item: a(href=rootPath + "index.html") 株式会社ブリーチ&nbsp;/&nbsp;
                    li.c-breadcrumb__item: a(href=rootPath + "interview/mizutani.html") Interview 水谷 慶

                .l-col.l-col--sp
                    h2.c-h1 社員インタビュー
                    .c-category: img(src="image/category-interview.png" alt="")
                
                .l-frame--md
                    h3.c-h2
                        |入社して1年半で、
                        br
                        |数十億円規模の事業のトップに。

                    .c-intro.l-col
                        .c-intro__image.l-col__2: img(src="image/mizutani-img01.jpg" alt="")
                        .c-intro__pf.l-col__2
                            p.c-intro__pf__name
                                |水谷 慶
                                br
                                span マネージャー職
                            p.c-intro__pf__text 2016年3月、神戸大学工学部機械工学科を卒業。優秀な成績を修め、学会賞も受賞した。自分で事業を興したいと思い、ベンチャー企業での勤務を2社経験。2017年8月、より大きな成長を求めてBLEACHにジョイン。全社の広告運用の責任者を経て、全社組織をつくるマネージャー職を務めている。

            //- =================================================================================================

            .l-frame.c-frombottom
                .l-frame--sm
                    .t-block
                        .c-h3.c-h3--tweak
                            span BLEACHへの入社理由
                            br
                            |自分で事業を立ち上げて、稼ぐ力を身につけたい
                        .c-p 「未知のものに触れたい」という思いが強く、学生時代は宇宙飛行士を志望していました。神戸大学工学部に進学し、ロボット工学を専攻していたのですが、身体上の理由から宇宙飛行士への道は断念。方向を転換して、「未知のものをカタチにしよう」と、ベンチャー企業に就職しました。ペット保険を取り扱う100名規模の会社に入社したのですが、ルーチン業務が多く事業を自分でつくれるようになるまでに時間が掛かると感じて、ほどなくスタートアップ企業に転職。その会社では、4人目の社員として、ビジネスのローンチにも携わりました。しかし、業績不振に陥って退職せざるをえない状態に。「自分には、事業を立ち上げて稼ぐ力が無い」と痛感して、その力を鍛えようと入社したのがBLEACHです。

                    .t-block
                        .c-h3.c-h3--tweak 
                            span BLEACHでの仕事のやりがい
                            br
                            |入社して1年半。生み出す売上は、年間数十億円
                        .c-p 今、社会人としては3年目で、入社して1年半になります。最初の1年間は、個人としての売上を出すことに集中しました。そして、マネージャーに昇格してからは、メンバー個々の成長サポートをメインに取り組んでいます。このシェアリング型統合デジタルマーケティングのビジネスで大切なのは、アイデア力とイマジネーション力。よって、KPIをガチガチに設定して組織を運営するよりも、一人ひとりのメンバーが成長し、深い思考ができるチームにしていきたい。結果として、個々の思考力が成長して組織が強くなり、売上が最大化できると考えているからです。
                            br
                            br
                            |現状の方針は、3〜4か月の長期スパンで広告予算を与えて任せきる、というものです。失敗もとがめません。社員数が増えている中で、このBLEACHの良きカルチャーをより濃くしていくことに尽力しています。結果、半年前の私個人での売上は2億円でしたが、今や組織での売上額は、数十億円にも達するように。経営者として、一歩一歩階段を上っている実感を持てています。

                    .t-block
                        .c-h3.c-h3--tweak
                            span 今後のビジョン
                            br
                            |会社を売上100億円のステージに乗せたい
                        .c-p 現状の売上から、さらに売上100億円規模に成長させることが当面の目標です。現状のビジネスをそのまま拡大させるのではなく、新規事業や海外事業も視野に入れていきたいですね。仮にBLEACHが100億円規模の会社になれば、そこから生じる経済圏は1000億円を超え、数万人の人がブリーチのビジネスになんらかの形で携わっているはず。
                            br
                            br
                            |拡大している業界で、独自のビジネスモデルを展開しているBLEACHで働く意味は大きいです。自分の一挙手一投足で会社が変わり、社会が変わっていくのを実感できるから。大きなやりがいを感じ、背伸びをしながら事業をしていくのが、自分の性には合っています。一人ひとりの社員が成長し続け、輝き続ける、最強の組織をつくっていきたいですね。

            //- =================================================================================================

            .l-frame.l-frame--sm.t-other
                .t-other__image: img(src="image/mizutani-img02.jpg" alt="")

                p.t-other__heading 他の社員を見る

                include ../include/_interview.pug

            //- =================================================================================================

            .l-frame
                .c-btn: a(href=rootPath + "./index.html") トップページに戻る

            //- =================================================================================================

            include ../include/_footer.pug
        include ../include/_scripts.pug
        script(src=rootPath + "asset/js/min/jquery.bxslider.min.js")
        script(src=rootPath + "asset/js/theme-interview.js")

dest/interview/mizutani.html
<!DOCTYPE html>
<html lang="ja">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width">
		<meta name="format-detection" content="telephone=no">
		<meta name="robots" content="index,follow">
		<!-- main title-->
		<title>株式会社ブリーチ | Interview 水谷 慶</title>
		<!-- meta tags-->
		<meta name="description" content="株式会社ブリーチは「商売を大きく。日本から世界へ、冒険的な成長を。」というビジョンを掲げ、統合型デジタルマーケティングでD2C支援No.1を目指す企業です。私たちは、「ココロを共感させるマーケティング力」と「圧倒的な数字の分析力」、「成果を出す強い意志」を武器に社会のニーズに対して新しい解決策を生み出し続けます。">
		<meta property="og:title" content="株式会社ブリーチ | Interview 水谷 慶">
		<meta property="og:type" content="website">
		<meta property="og:image" content="http://bleach.co.jp/og.png">
		<meta property="og:url" content="http://bleach.co.jp/recruit.html">
		<meta property="og:description" content="株式会社ブリーチは「商売を大きく。日本から世界へ、冒険的な成長を。」というビジョンを掲げ、統合型デジタルマーケティングでD2C支援No.1を目指す企業です。私たちは、「ココロを共感させるマーケティング力」と「圧倒的な数字の分析力」、「成果を出す強い意志」を武器に社会のニーズに対して新しい解決策を生み出し続けます。">
		<!-- favicon-->
		<link rel="shortcut icon" href="../favicon.ico" type="image/x-icon">
		<!-- google fonts-->
		<link href="https://fonts.googleapis.com/css?family=Roboto:300,400" rel="stylesheet">
		<!-- stylesheets-->
		<link rel="stylesheet" href="../asset/css/jquery.bxslider.css">
		<link rel="stylesheet" href="../asset/css/theme-interview.css">
	</head>
	<body class="interview interview_mizutani">
		<div class="l-limit">
			<div class="l-header">
				<div class="l-line"><span></span></div>
				<h1 class="l-header__logo"><a href="#" title="株式会社ブリーチ"><img src="../image/logo.png" alt="株式会社ブリーチ"></a></h1>
				<div class="l-col l-header__gnav">
					<div class="l-nav l-col">
						<ul class="l-nav__ul l-nav__ul--main l-col">
							<li class="l-nav__ul__item"><a class="bar-home" href="../index.html">Home</a></li>
							<li class="l-nav__ul__item"><a class="bar-company" href="../company/index.html">Company</a></li>
							<li class="l-nav__ul__item"><a class="bar-vision" href="../vision/index.html">Vision</a></li>
							<li class="l-nav__ul__item"><a class="bar-service" href="../service/index.html">Service</a></li>
							<li class="l-nav__ul__item l-nav__ul__item--btn">Interview<span></span>
								<ul class="l-nestnav">
									<li class="l-nestnav__item"><a href="../interview/ohira.html">代表取締役社長（大平啓介）</a></li>
									<li class="l-nestnav__item"><a href="../interview/mizutani.html">マネージャー（水谷慶）</a></li>
									<li class="l-nestnav__item"><a href="../interview/watanabe.html">マネージャー（渡邉緑）</a></li>
									<li class="l-nestnav__item"><a href="../interview/nakamura.html">セールスライター（中村悠人）</a></li>
									<li class="l-nestnav__item"><a href="../interview/shimizu.html">セールスライター（清水里沙）</a></li>
									<li class="l-nestnav__item"><a href="../interview/nishimura.html">グロースハッカー（西村政晃）</a></li>
									<li class="l-nestnav__item"><a href="../interview/suzuki.html">セールスライター（鈴木大志）</a></li>
								</ul>
							</li>
							<li class="l-nav__ul__item"><a class="bar-recruiting" href="../recruiting/index.html">Recruiting</a></li>
						</ul>
					</div>
					<div class="l-nav l-col">
						<ul class="l-nav__ul l-nav__ul--sub l-col l-col--sp">
							<li class="l-nav__ul__item l-nav__ul__item--entry l-nav__ul__item--bg"><a class="c-bg" href="../blog/">Blog</a></li>
							<li class="l-nav__ul__item l-nav__ul__item--entry l-nav__ul__item--ng"><a class="c-ng" href="https://job.mynavi.jp/21/pc/search/corp229819/outline.html" target="_blank">新卒エントリー</a></li>
							<li class="l-nav__ul__item l-nav__ul__item--entry l-nav__ul__item--mc"><a class="c-mc" href="https://hrmos.co/pages/bleach" target="_blank">中途エントリー</a></li>
						</ul>
					</div>
				</div>
			</div>
			<div class="l-frame c-frombottom">
				<ul class="c-breadcrumb">
					<li class="c-breadcrumb__item"><a href="../index.html">株式会社ブリーチ&nbsp;/&nbsp;</a></li>
					<li class="c-breadcrumb__item"><a href="../interview/mizutani.html">Interview 水谷 慶</a></li>
				</ul>
				<div class="l-col l-col--sp">
					<h2 class="c-h1">社員インタビュー</h2>
					<div class="c-category"><img src="image/category-interview.png" alt=""></div>
				</div>
				<div class="l-frame--md">
					<h3 class="c-h2">入社して1年半で、<br>数十億円規模の事業のトップに。</h3>
					<div class="c-intro l-col">
						<div class="c-intro__image l-col__2"><img src="image/mizutani-img01.jpg" alt=""></div>
						<div class="c-intro__pf l-col__2">
							<p class="c-intro__pf__name">水谷 慶<br><span>マネージャー職</span></p>
							<p class="c-intro__pf__text">2016年3月、神戸大学工学部機械工学科を卒業。優秀な成績を修め、学会賞も受賞した。自分で事業を興したいと思い、ベンチャー企業での勤務を2社経験。2017年8月、より大きな成長を求めてBLEACHにジョイン。全社の広告運用の責任者を経て、全社組織をつくるマネージャー職を務めている。</p>
						</div>
					</div>
				</div>
			</div>
			<div class="l-frame c-frombottom">
				<div class="l-frame--sm">
					<div class="t-block">
						<div class="c-h3 c-h3--tweak"><span>BLEACHへの入社理由</span><br>自分で事業を立ち上げて、稼ぐ力を身につけたい</div>
						<div class="c-p">「未知のものに触れたい」という思いが強く、学生時代は宇宙飛行士を志望していました。神戸大学工学部に進学し、ロボット工学を専攻していたのですが、身体上の理由から宇宙飛行士への道は断念。方向を転換して、「未知のものをカタチにしよう」と、ベンチャー企業に就職しました。ペット保険を取り扱う100名規模の会社に入社したのですが、ルーチン業務が多く事業を自分でつくれるようになるまでに時間が掛かると感じて、ほどなくスタートアップ企業に転職。その会社では、4人目の社員として、ビジネスのローンチにも携わりました。しかし、業績不振に陥って退職せざるをえない状態に。「自分には、事業を立ち上げて稼ぐ力が無い」と痛感して、その力を鍛えようと入社したのがBLEACHです。</div>
					</div>
					<div class="t-block">
						<div class="c-h3 c-h3--tweak"> <span>BLEACHでの仕事のやりがい</span><br>入社して1年半。生み出す売上は、年間数十億円</div>
						<div class="c-p">今、社会人としては3年目で、入社して1年半になります。最初の1年間は、個人としての売上を出すことに集中しました。そして、マネージャーに昇格してからは、メンバー個々の成長サポートをメインに取り組んでいます。このシェアリング型統合デジタルマーケティングのビジネスで大切なのは、アイデア力とイマジネーション力。よって、KPIをガチガチに設定して組織を運営するよりも、一人ひとりのメンバーが成長し、深い思考ができるチームにしていきたい。結果として、個々の思考力が成長して組織が強くなり、売上が最大化できると考えているからです。<br><br>現状の方針は、3〜4か月の長期スパンで広告予算を与えて任せきる、というものです。失敗もとがめません。社員数が増えている中で、このBLEACHの良きカルチャーをより濃くしていくことに尽力しています。結果、半年前の私個人での売上は2億円でしたが、今や組織での売上額は、数十億円にも達するように。経営者として、一歩一歩階段を上っている実感を持てています。</div>
					</div>
					<div class="t-block">
						<div class="c-h3 c-h3--tweak"><span>今後のビジョン</span><br>会社を売上100億円のステージに乗せたい</div>
						<div class="c-p">現状の売上から、さらに売上100億円規模に成長させることが当面の目標です。現状のビジネスをそのまま拡大させるのではなく、新規事業や海外事業も視野に入れていきたいですね。仮にBLEACHが100億円規模の会社になれば、そこから生じる経済圏は1000億円を超え、数万人の人がブリーチのビジネスになんらかの形で携わっているはず。<br><br>拡大している業界で、独自のビジネスモデルを展開しているBLEACHで働く意味は大きいです。自分の一挙手一投足で会社が変わり、社会が変わっていくのを実感できるから。大きなやりがいを感じ、背伸びをしながら事業をしていくのが、自分の性には合っています。一人ひとりの社員が成長し続け、輝き続ける、最強の組織をつくっていきたいですね。</div>
					</div>
				</div>
			</div>
			<div class="l-frame l-frame--sm t-other">
				<div class="t-other__image"><img src="image/mizutani-img02.jpg" alt=""></div>
				<p class="t-other__heading">他の社員を見る</p>
				<div class="t-slide t-slide--3 l-col l-col--fw">
					<div class="t-window l-col__3" data-interview="ohira">
						<div class="t-window__image"><a href="ohira.html"><img src="image/next-ohira.jpg" alt=""></a></div>
						<p class="t-window__pos">
							 大平 啓介<br>代表取締役社長</p>
					</div>
					<div class="t-window l-col__3" data-interview="watanabe">
						<div class="t-window__image"><a href="watanabe.html"><img src="image/next-watanabe.jpg" alt=""></a></div>
						<p class="t-window__pos">
							 渡邉 緑<br>マネージャー職</p>
					</div>
					<div class="t-window l-col__3" data-interview="mizutani">
						<div class="t-window__image"><a href="mizutani.html"><img src="image/next-mizutani.jpg" alt=""></a></div>
						<p class="t-window__pos">
							 水谷 慶<br>マネージャー職</p>
					</div>
					<div class="t-window l-col__3" data-interview="nakamura">
						<div class="t-window__image"><a href="nakamura.html"><img src="image/next-nakamura.jpg" alt=""></a></div>
						<p class="t-window__pos">
							 中村 悠人<br>セールスライター職</p>
					</div>
					<div class="t-window l-col__3" data-interview="nishimura">
						<div class="t-window__image"><a href="nishimura.html"><img src="image/next-nishimura.jpg" alt=""></a></div>
						<p class="t-window__pos">
							 西村 政晃<br>グロースハッカー職</p>
					</div>
					<div class="t-window l-col__3" data-interview="shimizu">
						<div class="t-window__image"><a href="shimizu.html"><img src="image/next-shimizu.jpg" alt=""></a></div>
						<p class="t-window__pos">
							 清水 里沙<br>セールスライター職</p>
					</div>
					<div class="t-window l-col__3" data-interview="suzuki">
						<div class="t-window__image"><a href="suzuki.html"><img src="image/next-suzuki.jpg" alt=""></a></div>
						<p class="t-window__pos">
							 鈴木 大志<br>セールスライター職</p>
					</div>
				</div>
			</div>
			<div class="l-frame">
				<div class="c-btn"><a href=".././index.html">トップページに戻る</a></div>
			</div>
			<div class="l-footer">
				<div class="l-footer__backtop"><a href=""><img src="../image/backtop.png" alt=""></a></div>
				<div class="l-footer__image"><img src="../image/footer-img01.jpg" alt=""></div>
				<div class="l-frame">
					<div class="l-frame--md">
						<div class="l-col">
							<div class="l-footer__link"><a class="c-ng" href="https://job.mynavi.jp/21/pc/search/corp229819/outline.html" target="_blank"><span>NEW GRADUATE</span><br>新卒採用エントリー</a></div>
							<div class="l-footer__link"><a class="c-mc" href="https://hrmos.co/pages/bleach" target="_blank"><span>MID-CAREER RECRUITMENT</span><br>中途採用エントリー</a></div>
						</div>
					</div>
				</div>
				<div class="l-frame">
					<p class="l-footer__text">SHARE</p>
					<div class="l-col--sp l-footer__sns">
						<div class="l-footer__sns__item"><a href="http://www.facebook.com/share.php?u=http://bleach.co.jp/recruit.html" target="_blank"><img src="../image/icon-facebook.png" alt=""></a></div>
						<div class="l-footer__sns__item"><a href="http://twitter.com/share?&amp;url=http://bleach.co.jp/&amp;hashtags=株式会社ブリーチHP" target="_blank"><img src="../image/icon-twitter.png" alt=""></a></div>
					</div>
				</div>
				<div class="l-frame">
					<div class="l-footer__copyright"><small>Copyright c BLEACH.Inc.All.Rights.Reserved.</small></div>
				</div>
			</div>
		</div>
		<script src="../asset/js/min/jquery-3.1.1.min.js"></script>
		<script src="../asset/js/min/velocity.min.js"></script>
		<script src="../asset/js/min/jquery.inview.min.js"></script>
		<script src="../asset/js/common.js"></script>
		<script src="../asset/js/min/jquery.bxslider.min.js"></script>
		<script src="../asset/js/theme-interview.js"></script>
	</body>
</html>
