src/interview/nakamura.pug
include ../include/_mixin.pug
doctype html
html(lang="ja")
    head
        include ../include/_head.pug
        include ../include/_config.pug
            - var key = "interview_nakamura"
            - var page = page[key]
                include ../include/_meta.pug
        // stylesheets
        link(rel="stylesheet" href=rootPath + "asset/css/jquery.bxslider.css")
        link(rel="stylesheet" href=rootPath + "asset/css/theme-interview.css")

    body.interview(class=key)
        .l-limit
            include ../include/_header.pug

            //- =================================================================================================

            //- Let's Coding!!
            .l-frame.c-frombottom
                ul.c-breadcrumb
                    li.c-breadcrumb__item: a(href=rootPath + "index.html") 株式会社ブリーチ&nbsp;/&nbsp;
                    li.c-breadcrumb__item: a(href=rootPath + "interview/nakamura.html") Interview 中村 悠人

                .l-col.l-col--sp
                    h2.c-h1 社員インタビュー
                    .c-category: img(src="image/category-interview.png" alt="")
                
                .l-frame--md
                    h3.c-h2
                        |入社3か月で、僕の文章は、
                        br
                        |1億円以上の売上をつくった。

                    .c-intro.l-col
                        .c-intro__image.l-col__2: img(src="image/nakamura-img01.jpg" alt="")
                        .c-intro__pf.l-col__2
                            p.c-intro__pf__name
                                |中村 悠人
                                br
                                span セールスライター職
                            p.c-intro__pf__text 前職は、整体・鍼灸・マッサージ業界に特化した人材サービス企業に勤務。セールスライティングのスキルを活かして、セミナー事業の集客、企画を担当。社内レコードを５度更新、過去最高売上記録を更新して、社内賞を受賞。上場企業からの買収タイミングで、自らのキャリアプランを見直し、０→１で事業を立ち上げるスキルを身につけるべく、2018年7月にBLEACHに転職。入社3か月あまりで、億単位の売上に貢献。

            //- =================================================================================================

            .l-frame.c-frombottom
                .l-frame--sm
                    .t-block
                        .c-h3.c-h3--tweak
                            span BLEACHへの入社理由
                            br
                            |モノが売れるまでの全工程を、当事者として担当できるから
                        .c-p 前職は、整体・針灸など治療系の人材サービス企業で、同じくセールスライターの仕事をしていました。自分の文章を通じて、多くの人が心を動かして人生が変わる。そのセールスライティングの可能性を、治療系の外に広げたいと思い、転職を決意しました。BLEACHを選んだのは、ライターに留まらない可能性を感じたからです。クライアントと直で折衝できますし、その商品のマーケティングの戦略を立てるだけでなく、自分の権限で広告も出稿できる。要は、モノを売るまでの全ての工程を、当事者として経験できると聞いて、「この会社しかない！」と直感したのです。それに加えて、社長の大平の人柄にも惹かれました。面談のときに、「君は、もっと大きな人間になれる可能性を秘めている。世界で自分を語れるようになろうよ！」と言われました。会社自体も、「商売を大きく。日本から世界へ、冒険的な成長を」という理念を掲げているので、この社長と一緒に会社を大きくしたい、そう思い入社を決意しました。

                    .t-block
                        .c-h3.c-h3--tweak 
                            span BLEACHでの仕事のやりがい
                            br
                            |入社3か月で億単位の売上。クライアントの成長のカギを握る
                        .c-p 「半端なく思い切り任せられる」この一言に尽きると思います。入社2日目から、あるクライアントの案件をまるごと担当することに。クライアントとの折衝、広告の戦略立案、クリエイティブ制作と出稿、出稿後の改善といった一連の流れを、すぐに経験できました。もちろん結果が出ないこともありましたが、クライアントの当事者としての意識があるので、くよくよせずに即座に改善していました。BLEACHも予算や権限を惜しみなく与えてくれるので、失敗を即座に自分の血肉に変えられて、急激に成長しましたね。結果、幾つかのヒット商品を生み出し、入社3か月で億単位の売上をつくることができました。
                            br
                            br
                            |この規模になれば、ひとつの事業を任せられているのに近い感覚です。もちろん、クライアントからの期待感は、前職とは比較になりません。その企業の成長が、私が立てた戦略やこの手で書かれた文章に懸かっている。単なるライターではなく、クライアントの成長を担う「牽引者」として、そして、マーケットに流行を生み出す「イノベーター」として、より大きな影響力を持てるようになりたいですね。

                    .t-block
                        .c-h3.c-h3--tweak
                            span 今後のビジョン
                            br
                            |BLEACHの価値観を、社外にも広めていきたい
                        .c-p 入社9か月が経ち、はやくも後輩の育成を担当するようになりました。中途入社の社員もいれば、新卒の若手もいます。私自身は仕事を任されることで成長できたので、彼らにも同じようにしてあげたい。ですから、年齢や経験を問わず、月間の利益目標を持たせていて、その達成に向けて自由に試行錯誤してもらっています。裁量を与えることで、「クリエイティブが変われば、利益が大きく変わる」ということを、肌身で経験できる。結果、セールスライティングのスキルを最速で習得できるはずです。また、「一家団結」「ハマろう、楽しもう」「全員・プロアスリート」というBLEACHの3つの価値観を、仕事を通じて伝えることで、より大きな成果を出せるはず。この価値観は、ビジネスマンとしての基礎を形成するものだから、BLEACHの外にも広めていきたい。そして、日本という国全体の成長を加速させていきたいですね。



            //- =================================================================================================

            .l-frame.l-frame--sm.t-other
                .t-other__image: img(src="image/nakamura-img02.jpg" alt="")

                p.t-other__heading 他の社員を見る

                include ../include/_interview.pug

            //- =================================================================================================

            .l-frame
                .c-btn: a(href=rootPath + "./index.html") トップページに戻る

            //- =================================================================================================

            include ../include/_footer.pug
        include ../include/_scripts.pug
        script(src=rootPath + "asset/js/min/jquery.bxslider.min.js")
        script(src=rootPath + "asset/js/theme-interview.js")

dest/interview/nakamura.html
<!DOCTYPE html>
<html lang="ja">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width">
		<meta name="format-detection" content="telephone=no">
		<meta name="robots" content="index,follow">
		<!-- main title-->
		<title>株式会社ブリーチ | Interview 中村 悠人</title>
		<!-- meta tags-->
		<meta name="description" content="株式会社ブリーチは「商売を大きく。日本から世界へ、冒険的な成長を。」というビジョンを掲げ、統合型デジタルマーケティングでD2C支援No.1を目指す企業です。私たちは、「ココロを共感させるマーケティング力」と「圧倒的な数字の分析力」、「成果を出す強い意志」を武器に社会のニーズに対して新しい解決策を生み出し続けます。">
		<meta property="og:title" content="株式会社ブリーチ | Interview 中村 悠人">
		<meta property="og:type" content="website">
		<meta property="og:image" content="http://bleach.co.jp/og.png">
		<meta property="og:url" content="http://bleach.co.jp/recruit.html">
		<meta property="og:description" content="株式会社ブリーチは「商売を大きく。日本から世界へ、冒険的な成長を。」というビジョンを掲げ、統合型デジタルマーケティングでD2C支援No.1を目指す企業です。私たちは、「ココロを共感させるマーケティング力」と「圧倒的な数字の分析力」、「成果を出す強い意志」を武器に社会のニーズに対して新しい解決策を生み出し続けます。">
		<!-- favicon-->
		<link rel="shortcut icon" href="../favicon.ico" type="image/x-icon">
		<!-- google fonts-->
		<link href="https://fonts.googleapis.com/css?family=Roboto:300,400" rel="stylesheet">
		<!-- stylesheets-->
		<link rel="stylesheet" href="../asset/css/jquery.bxslider.css">
		<link rel="stylesheet" href="../asset/css/theme-interview.css">
	</head>
	<body class="interview interview_nakamura">
		<div class="l-limit">
			<div class="l-header">
				<div class="l-line"><span></span></div>
				<h1 class="l-header__logo"><a href="#" title="株式会社ブリーチ"><img src="../image/logo.png" alt="株式会社ブリーチ"></a></h1>
				<div class="l-col l-header__gnav">
					<div class="l-nav l-col">
						<ul class="l-nav__ul l-nav__ul--main l-col">
							<li class="l-nav__ul__item"><a class="bar-home" href="../index.html">Home</a></li>
							<li class="l-nav__ul__item"><a class="bar-company" href="../company/index.html">Company</a></li>
							<li class="l-nav__ul__item"><a class="bar-vision" href="../vision/index.html">Vision</a></li>
							<li class="l-nav__ul__item"><a class="bar-service" href="../service/index.html">Service</a></li>
							<li class="l-nav__ul__item l-nav__ul__item--btn">Interview<span></span>
								<ul class="l-nestnav">
									<li class="l-nestnav__item"><a href="../interview/ohira.html">代表取締役社長（大平啓介）</a></li>
									<li class="l-nestnav__item"><a href="../interview/mizutani.html">マネージャー（水谷慶）</a></li>
									<li class="l-nestnav__item"><a href="../interview/watanabe.html">マネージャー（渡邉緑）</a></li>
									<li class="l-nestnav__item"><a href="../interview/nakamura.html">セールスライター（中村悠人）</a></li>
									<li class="l-nestnav__item"><a href="../interview/shimizu.html">セールスライター（清水里沙）</a></li>
									<li class="l-nestnav__item"><a href="../interview/nishimura.html">グロースハッカー（西村政晃）</a></li>
									<li class="l-nestnav__item"><a href="../interview/suzuki.html">セールスライター（鈴木大志）</a></li>
								</ul>
							</li>
							<li class="l-nav__ul__item"><a class="bar-recruiting" href="../recruiting/index.html">Recruiting</a></li>
						</ul>
					</div>
					<div class="l-nav l-col">
						<ul class="l-nav__ul l-nav__ul--sub l-col l-col--sp">
							<li class="l-nav__ul__item l-nav__ul__item--entry l-nav__ul__item--bg"><a class="c-bg" href="../blog/">Blog</a></li>
							<li class="l-nav__ul__item l-nav__ul__item--entry l-nav__ul__item--ng"><a class="c-ng" href="https://job.mynavi.jp/21/pc/search/corp229819/outline.html" target="_blank">新卒エントリー</a></li>
							<li class="l-nav__ul__item l-nav__ul__item--entry l-nav__ul__item--mc"><a class="c-mc" href="https://hrmos.co/pages/bleach" target="_blank">中途エントリー</a></li>
						</ul>
					</div>
				</div>
			</div>
			<div class="l-frame c-frombottom">
				<ul class="c-breadcrumb">
					<li class="c-breadcrumb__item"><a href="../index.html">株式会社ブリーチ&nbsp;/&nbsp;</a></li>
					<li class="c-breadcrumb__item"><a href="../interview/nakamura.html">Interview 中村 悠人</a></li>
				</ul>
				<div class="l-col l-col--sp">
					<h2 class="c-h1">社員インタビュー</h2>
					<div class="c-category"><img src="image/category-interview.png" alt=""></div>
				</div>
				<div class="l-frame--md">
					<h3 class="c-h2">入社3か月で、僕の文章は、<br>1億円以上の売上をつくった。</h3>
					<div class="c-intro l-col">
						<div class="c-intro__image l-col__2"><img src="image/nakamura-img01.jpg" alt=""></div>
						<div class="c-intro__pf l-col__2">
							<p class="c-intro__pf__name">中村 悠人<br><span>セールスライター職</span></p>
							<p class="c-intro__pf__text">前職は、整体・鍼灸・マッサージ業界に特化した人材サービス企業に勤務。セールスライティングのスキルを活かして、セミナー事業の集客、企画を担当。社内レコードを５度更新、過去最高売上記録を更新して、社内賞を受賞。上場企業からの買収タイミングで、自らのキャリアプランを見直し、０→１で事業を立ち上げるスキルを身につけるべく、2018年7月にBLEACHに転職。入社3か月あまりで、億単位の売上に貢献。</p>
						</div>
					</div>
				</div>
			</div>
			<div class="l-frame c-frombottom">
				<div class="l-frame--sm">
					<div class="t-block">
						<div class="c-h3 c-h3--tweak"><span>BLEACHへの入社理由</span><br>モノが売れるまでの全工程を、当事者として担当できるから</div>
						<div class="c-p">前職は、整体・針灸など治療系の人材サービス企業で、同じくセールスライターの仕事をしていました。自分の文章を通じて、多くの人が心を動かして人生が変わる。そのセールスライティングの可能性を、治療系の外に広げたいと思い、転職を決意しました。BLEACHを選んだのは、ライターに留まらない可能性を感じたからです。クライアントと直で折衝できますし、その商品のマーケティングの戦略を立てるだけでなく、自分の権限で広告も出稿できる。要は、モノを売るまでの全ての工程を、当事者として経験できると聞いて、「この会社しかない！」と直感したのです。それに加えて、社長の大平の人柄にも惹かれました。面談のときに、「君は、もっと大きな人間になれる可能性を秘めている。世界で自分を語れるようになろうよ！」と言われました。会社自体も、「商売を大きく。日本から世界へ、冒険的な成長を」という理念を掲げているので、この社長と一緒に会社を大きくしたい、そう思い入社を決意しました。</div>
					</div>
					<div class="t-block">
						<div class="c-h3 c-h3--tweak"> <span>BLEACHでの仕事のやりがい</span><br>入社3か月で億単位の売上。クライアントの成長のカギを握る</div>
						<div class="c-p">「半端なく思い切り任せられる」この一言に尽きると思います。入社2日目から、あるクライアントの案件をまるごと担当することに。クライアントとの折衝、広告の戦略立案、クリエイティブ制作と出稿、出稿後の改善といった一連の流れを、すぐに経験できました。もちろん結果が出ないこともありましたが、クライアントの当事者としての意識があるので、くよくよせずに即座に改善していました。BLEACHも予算や権限を惜しみなく与えてくれるので、失敗を即座に自分の血肉に変えられて、急激に成長しましたね。結果、幾つかのヒット商品を生み出し、入社3か月で億単位の売上をつくることができました。<br><br>この規模になれば、ひとつの事業を任せられているのに近い感覚です。もちろん、クライアントからの期待感は、前職とは比較になりません。その企業の成長が、私が立てた戦略やこの手で書かれた文章に懸かっている。単なるライターではなく、クライアントの成長を担う「牽引者」として、そして、マーケットに流行を生み出す「イノベーター」として、より大きな影響力を持てるようになりたいですね。</div>
					</div>
					<div class="t-block">
						<div class="c-h3 c-h3--tweak"><span>今後のビジョン</span><br>BLEACHの価値観を、社外にも広めていきたい</div>
						<div class="c-p">入社9か月が経ち、はやくも後輩の育成を担当するようになりました。中途入社の社員もいれば、新卒の若手もいます。私自身は仕事を任されることで成長できたので、彼らにも同じようにしてあげたい。ですから、年齢や経験を問わず、月間の利益目標を持たせていて、その達成に向けて自由に試行錯誤してもらっています。裁量を与えることで、「クリエイティブが変われば、利益が大きく変わる」ということを、肌身で経験できる。結果、セールスライティングのスキルを最速で習得できるはずです。また、「一家団結」「ハマろう、楽しもう」「全員・プロアスリート」というBLEACHの3つの価値観を、仕事を通じて伝えることで、より大きな成果を出せるはず。この価値観は、ビジネスマンとしての基礎を形成するものだから、BLEACHの外にも広めていきたい。そして、日本という国全体の成長を加速させていきたいですね。</div>
					</div>
				</div>
			</div>
			<div class="l-frame l-frame--sm t-other">
				<div class="t-other__image"><img src="image/nakamura-img02.jpg" alt=""></div>
				<p class="t-other__heading">他の社員を見る</p>
				<div class="t-slide t-slide--3 l-col l-col--fw">
					<div class="t-window l-col__3" data-interview="ohira">
						<div class="t-window__image"><a href="ohira.html"><img src="image/next-ohira.jpg" alt=""></a></div>
						<p class="t-window__pos">
							 大平 啓介<br>代表取締役社長</p>
					</div>
					<div class="t-window l-col__3" data-interview="watanabe">
						<div class="t-window__image"><a href="watanabe.html"><img src="image/next-watanabe.jpg" alt=""></a></div>
						<p class="t-window__pos">
							 渡邉 緑<br>マネージャー職</p>
					</div>
					<div class="t-window l-col__3" data-interview="mizutani">
						<div class="t-window__image"><a href="mizutani.html"><img src="image/next-mizutani.jpg" alt=""></a></div>
						<p class="t-window__pos">
							 水谷 慶<br>マネージャー職</p>
					</div>
					<div class="t-window l-col__3" data-interview="nakamura">
						<div class="t-window__image"><a href="nakamura.html"><img src="image/next-nakamura.jpg" alt=""></a></div>
						<p class="t-window__pos">
							 中村 悠人<br>セールスライター職</p>
					</div>
					<div class="t-window l-col__3" data-interview="nishimura">
						<div class="t-window__image"><a href="nishimura.html"><img src="image/next-nishimura.jpg" alt=""></a></div>
						<p class="t-window__pos">
							 西村 政晃<br>グロースハッカー職</p>
					</div>
					<div class="t-window l-col__3" data-interview="shimizu">
						<div class="t-window__image"><a href="shimizu.html"><img src="image/next-shimizu.jpg" alt=""></a></div>
						<p class="t-window__pos">
							 清水 里沙<br>セールスライター職</p>
					</div>
					<div class="t-window l-col__3" data-interview="suzuki">
						<div class="t-window__image"><a href="suzuki.html"><img src="image/next-suzuki.jpg" alt=""></a></div>
						<p class="t-window__pos">
							 鈴木 大志<br>セールスライター職</p>
					</div>
				</div>
			</div>
			<div class="l-frame">
				<div class="c-btn"><a href=".././index.html">トップページに戻る</a></div>
			</div>
			<div class="l-footer">
				<div class="l-footer__backtop"><a href=""><img src="../image/backtop.png" alt=""></a></div>
				<div class="l-footer__image"><img src="../image/footer-img01.jpg" alt=""></div>
				<div class="l-frame">
					<div class="l-frame--md">
						<div class="l-col">
							<div class="l-footer__link"><a class="c-ng" href="https://job.mynavi.jp/21/pc/search/corp229819/outline.html" target="_blank"><span>NEW GRADUATE</span><br>新卒採用エントリー</a></div>
							<div class="l-footer__link"><a class="c-mc" href="https://hrmos.co/pages/bleach" target="_blank"><span>MID-CAREER RECRUITMENT</span><br>中途採用エントリー</a></div>
						</div>
					</div>
				</div>
				<div class="l-frame">
					<p class="l-footer__text">SHARE</p>
					<div class="l-col--sp l-footer__sns">
						<div class="l-footer__sns__item"><a href="http://www.facebook.com/share.php?u=http://bleach.co.jp/recruit.html" target="_blank"><img src="../image/icon-facebook.png" alt=""></a></div>
						<div class="l-footer__sns__item"><a href="http://twitter.com/share?&amp;url=http://bleach.co.jp/&amp;hashtags=株式会社ブリーチHP" target="_blank"><img src="../image/icon-twitter.png" alt=""></a></div>
					</div>
				</div>
				<div class="l-frame">
					<div class="l-footer__copyright"><small>Copyright c BLEACH.Inc.All.Rights.Reserved.</small></div>
				</div>
			</div>
		</div>
		<script src="../asset/js/min/jquery-3.1.1.min.js"></script>
		<script src="../asset/js/min/velocity.min.js"></script>
		<script src="../asset/js/min/jquery.inview.min.js"></script>
		<script src="../asset/js/common.js"></script>
		<script src="../asset/js/min/jquery.bxslider.min.js"></script>
		<script src="../asset/js/theme-interview.js"></script>
	</body>
</html>
