dest/interview/nishimura.html
<!DOCTYPE html>
<html lang="ja">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width">
		<meta name="format-detection" content="telephone=no">
		<meta name="robots" content="index,follow">
		<!-- main title-->
		<title>株式会社ブリーチ | Interview 柴田 智之</title>
		<!-- meta tags-->
		<meta name="description" content="株式会社ブリーチは「商売を大きく。日本から世界へ、冒険的な成長を。」というビジョンを掲げ、統合型デジタルマーケティングでD2C支援No.1を目指す企業です。私たちは、「ココロを共感させるマーケティング力」と「圧倒的な数字の分析力」、「成果を出す強い意志」を武器に社会のニーズに対して新しい解決策を生み出し続けます。">
		<meta property="og:title" content="株式会社ブリーチ | Interview 柴田 智之">
		<meta property="og:type" content="website">
		<meta property="og:image" content="http://bleach.co.jp/og.png">
		<meta property="og:url" content="http://bleach.co.jp/recruit.html">
		<meta property="og:description" content="株式会社ブリーチは「商売を大きく。日本から世界へ、冒険的な成長を。」というビジョンを掲げ、統合型デジタルマーケティングでD2C支援No.1を目指す企業です。私たちは、「ココロを共感させるマーケティング力」と「圧倒的な数字の分析力」、「成果を出す強い意志」を武器に社会のニーズに対して新しい解決策を生み出し続けます。">
		<!-- favicon-->
		<link rel="shortcut icon" href="../favicon.ico" type="image/x-icon">
		<!-- google fonts-->
		<link href="https://fonts.googleapis.com/css?family=Roboto:300,400" rel="stylesheet">
		<!-- stylesheets-->
		<link rel="stylesheet" href="../asset/css/jquery.bxslider.css">
		<link rel="stylesheet" href="../asset/css/theme-interview.css">
	</head>
	<body class="interview interview_nishimura">
		<div class="l-limit">
			<div class="l-header">
				<div class="l-line"><span></span></div>
				<h1 class="l-header__logo"><a href="#" title="株式会社ブリーチ"><img src="../image/logo.png" alt="株式会社ブリーチ"></a></h1>
				<div class="l-col l-header__gnav">
					<div class="l-nav l-col">
						<ul class="l-nav__ul l-nav__ul--main l-col">
							<li class="l-nav__ul__item"><a class="bar-home" href="../index.html">Home</a></li>
							<li class="l-nav__ul__item"><a class="bar-company" href="../company/index.html">Company</a></li>
							<li class="l-nav__ul__item"><a class="bar-vision" href="../vision/index.html">Vision</a></li>
							<li class="l-nav__ul__item"><a class="bar-service" href="../service/index.html">Service</a></li>
							<li class="l-nav__ul__item l-nav__ul__item--btn">Interview<span></span>
								<ul class="l-nestnav">
									<li class="l-nestnav__item"><a href="../interview/ohira.html">代表取締役社長（大平啓介）</a></li>
									<li class="l-nestnav__item"><a href="../interview/mizutani.html">マネージャー（水谷慶）</a></li>
									<li class="l-nestnav__item"><a href="../interview/watanabe.html">マネージャー（渡邉緑）</a></li>
									<li class="l-nestnav__item"><a href="../interview/nakamura.html">セールスライター（中村悠人）</a></li>
									<li class="l-nestnav__item"><a href="../interview/shimizu.html">セールスライター（清水里沙）</a></li>
									<li class="l-nestnav__item"><a href="../interview/nishimura.html">グロースハッカー（西村政晃）</a></li>
									<li class="l-nestnav__item"><a href="../interview/suzuki.html">セールスライター（鈴木大志）</a></li>
								</ul>
							</li>
							<li class="l-nav__ul__item"><a class="bar-recruiting" href="../recruiting/index.html">Recruiting</a></li>
						</ul>
					</div>
					<div class="l-nav l-col">
						<ul class="l-nav__ul l-nav__ul--sub l-col l-col--sp">
							<li class="l-nav__ul__item l-nav__ul__item--entry l-nav__ul__item--bg"><a class="c-bg" href="../blog/">Blog</a></li>
							<li class="l-nav__ul__item l-nav__ul__item--entry l-nav__ul__item--ng"><a class="c-ng" href="https://job.mynavi.jp/21/pc/search/corp229819/outline.html" target="_blank">新卒エントリー</a></li>
							<li class="l-nav__ul__item l-nav__ul__item--entry l-nav__ul__item--mc"><a class="c-mc" href="https://hrmos.co/pages/bleach" target="_blank">中途エントリー</a></li>
						</ul>
					</div>
				</div>
			</div>
			<div class="l-frame c-frombottom">
				<ul class="c-breadcrumb">
					<li class="c-breadcrumb__item"><a href="../index.html">株式会社ブリーチ&nbsp;/&nbsp;</a></li>
					<li class="c-breadcrumb__item"><a href="../interview/nishimura.html">Interview 西村 政晃</a></li>
				</ul>
				<div class="l-col l-col--sp">
					<h2 class="c-h1">社員インタビュー</h2>
					<div class="c-category"><img src="image/category-interview.png" alt=""></div>
				</div>
				<div class="l-frame--md">
					<h3 class="c-h2">自分と心の底から向き合ってくれる<br>先輩社員や社長のためにも、<br>「伝説の新入社員」になってみせる。</h3>
					<div class="c-intro l-col">
						<div class="c-intro__image l-col__2"><img src="image/nishimura-img01.jpg" alt=""></div>
						<div class="c-intro__pf l-col__2">
							<p class="c-intro__pf__name">西村 政晃<br><span>グロースハッカー職</span></p>
							<p class="c-intro__pf__text">早稲田大学大学院 先進理工学研究科にて、生命理工学を専攻。DNAやRNAの基礎研究に携わる。教育業界、ベンチャー企業を志望して就職活動を進め、2018年夏にBLEACHにてインターン開始。BLEACHからの内定を承諾し、修士論文を提出後、フルタイムでの業務をスタート。2019年4月に「新卒1期生」として正社員で入社。</p>
						</div>
					</div>
				</div>
			</div>
			<div class="l-frame c-frombottom">
				<div class="l-frame--sm">
					<div class="t-block">
						<div class="c-h3 c-h3--tweak"><span>BLEACHへの入社理由</span><br>自分の力を高めるために、急成長企業で揉まれたい</div>
						<div class="c-p">私の原点は、「大学受験のための猛勉強」にあります。当時の成績は学年で最下位。一方、サッカー部の同級生のライバルが学年でトップ。何度となく比較されて悔しい思いをしていました。何とか彼に追いつきたいと、腹を決めて猛勉強を開始。休日も1日中ひたすら勉強していると、ある日突然、声が出なくなったのです。勉強へのストレスと、人と話す機会がほとんど無くなったからだと思います。受験のプレッシャーが原因で、自分のような苦しい経験をする学生は減らしたい。大学に入ってからも、ずっとそう考えていたのです。<br><br>就職活動の時期を迎えて、まず最初に志望したのは教育業界です。ただし、ここで壁にぶつかります。幾つかの会社を受けたのですが、多くの面接官から「学生を救いたいのは分かるが、現実が見えていない」という指摘を受けました。結果、全ての会社から内定はもらえませんでした。もう一度振り返ってみて、「まずは自分の力を高めるために、鍛えられる環境を選ぼう」と考え、ベンチャー企業を志望するように。そこで、新しいビジネスモデルで急成長しているBLEACHを選んだのです。</div>
					</div>
					<div class="t-block">
						<div class="c-h3 c-h3--tweak"> <span>BLEACHでの仕事のやりがい</span><br>良い提案は全て採用される。<br>相手がインターン生であっても、新入社員であっても</div>
						<div class="c-p">大学院の研究と両立させながら、修士2年の夏からBLEACHでのインターンを始めました。週に1日出社して、広告の効果データの集計と分析を担当。細かく指示されるのではなく、自由にやらせてもらいました。マネージャーに「実務で使えるデータになっている。ありがとう」と言われたのは嬉しかったですね。<br><br>BLEACHで仕事をしていて感じるのは、新人の提案にも誰もが耳を傾けてくれること。これまでに培ってきた社内の常識に対して、私から疑問の声を投げかけても、きちんと検討してくれます。これには驚きましたね。自分が提案した、広告効果の分析フォーマットが採用されたこともありました。相手が学生であっても、新入社員であっても、業務の改善に活かせる提案は全てを採用する。淡々と決められたタスクをこなすだけの社員は一人としていません。常に高い目標に向かって、飽くなき改善を続けている社風が、自分には合っています。言わば「ビジネスアスリートが集うプロスポーツチーム」。業務を進めるスピードも、ものすごく速いです。そして、個の力も強い。このような環境で社会人生活のスタートを切ることができたのは、今後のキャリアを考えるとかなり大きいと感じています。</div>
					</div>
					<div class="t-block">
						<div class="c-h3 c-h3--tweak"><span>今後のビジョン</span><br>このチャンスを、何が何でも活かす。<br>自分の過去に向き合ってくれた、<br>社長とBLEACHの仲間のためにも</div>
						<div class="c-p">最終面接のときに社長が掛けてくれた言葉が、今だに忘れられません。「受験のときの経験は素晴らしいと思う。あそこまで一つのことに集中できる人はなかなかいない。そこで苦しんだことや学んだことは、この仕事で絶対に活かせるよ」。ここまで一人の学生の葛藤に向き合ってくれたのは、BLEACHの社長と先輩社員だけでした。<br><br>その言葉を嚙み締めながら、日々を過ごしています。早いうちに、組織全体、事業全体に貢献できるようになりたいです。遅くても1年以内には、マネージャーになって、数億円の売上の責任者として業績に貢献したい。BLEACHは急成長しているので、マネージャーのポストも増えてくるでしょう。このチャンスを何が何でも活かす。そして、「伝説の新入社員」と呼ばれるようになる。そう腹で決めています。そして、もし、遠い未来に、教育の仕事に携わることになったら、ここで学んだことを全てぶつけて、業界全体を変えるくらいのことをやってみたいですね。</div>
					</div>
				</div>
			</div>
			<div class="l-frame l-frame--sm t-other">
				<div class="t-other__image"><img src="image/nishimura-img02.jpg" alt=""></div>
				<p class="t-other__heading">他の社員を見る</p>
				<div class="t-slide t-slide--3 l-col l-col--fw">
					<div class="t-window l-col__3" data-interview="ohira">
						<div class="t-window__image"><a href="ohira.html"><img src="image/next-ohira.jpg" alt=""></a></div>
						<p class="t-window__pos">
							 大平 啓介<br>代表取締役社長</p>
					</div>
					<div class="t-window l-col__3" data-interview="watanabe">
						<div class="t-window__image"><a href="watanabe.html"><img src="image/next-watanabe.jpg" alt=""></a></div>
						<p class="t-window__pos">
							 渡邉 緑<br>マネージャー職</p>
					</div>
					<div class="t-window l-col__3" data-interview="mizutani">
						<div class="t-window__image"><a href="mizutani.html"><img src="image/next-mizutani.jpg" alt=""></a></div>
						<p class="t-window__pos">
							 水谷 慶<br>マネージャー職</p>
					</div>
					<div class="t-window l-col__3" data-interview="nakamura">
						<div class="t-window__image"><a href="nakamura.html"><img src="image/next-nakamura.jpg" alt=""></a></div>
						<p class="t-window__pos">
							 中村 悠人<br>セールスライター職</p>
					</div>
					<div class="t-window l-col__3" data-interview="nishimura">
						<div class="t-window__image"><a href="nishimura.html"><img src="image/next-nishimura.jpg" alt=""></a></div>
						<p class="t-window__pos">
							 西村 政晃<br>グロースハッカー職</p>
					</div>
					<div class="t-window l-col__3" data-interview="shimizu">
						<div class="t-window__image"><a href="shimizu.html"><img src="image/next-shimizu.jpg" alt=""></a></div>
						<p class="t-window__pos">
							 清水 里沙<br>セールスライター職</p>
					</div>
					<div class="t-window l-col__3" data-interview="suzuki">
						<div class="t-window__image"><a href="suzuki.html"><img src="image/next-suzuki.jpg" alt=""></a></div>
						<p class="t-window__pos">
							 鈴木 大志<br>セールスライター職</p>
					</div>
				</div>
			</div>
			<div class="l-frame">
				<div class="c-btn"><a href=".././index.html">トップページに戻る</a></div>
			</div>
			<div class="l-footer">
				<div class="l-footer__backtop"><a href=""><img src="../image/backtop.png" alt=""></a></div>
				<div class="l-footer__image"><img src="../image/footer-img01.jpg" alt=""></div>
				<div class="l-frame">
					<div class="l-frame--md">
						<div class="l-col">
							<div class="l-footer__link"><a class="c-ng" href="https://job.mynavi.jp/21/pc/search/corp229819/outline.html" target="_blank"><span>NEW GRADUATE</span><br>新卒採用エントリー</a></div>
							<div class="l-footer__link"><a class="c-mc" href="https://hrmos.co/pages/bleach" target="_blank"><span>MID-CAREER RECRUITMENT</span><br>中途採用エントリー</a></div>
						</div>
					</div>
				</div>
				<div class="l-frame">
					<p class="l-footer__text">SHARE</p>
					<div class="l-col--sp l-footer__sns">
						<div class="l-footer__sns__item"><a href="http://www.facebook.com/share.php?u=http://bleach.co.jp/recruit.html" target="_blank"><img src="../image/icon-facebook.png" alt=""></a></div>
						<div class="l-footer__sns__item"><a href="http://twitter.com/share?&amp;url=http://bleach.co.jp/&amp;hashtags=株式会社ブリーチHP" target="_blank"><img src="../image/icon-twitter.png" alt=""></a></div>
					</div>
				</div>
				<div class="l-frame">
					<div class="l-footer__copyright"><small>Copyright c BLEACH.Inc.All.Rights.Reserved.</small></div>
				</div>
			</div>
		</div>
		<script src="../asset/js/min/jquery-3.1.1.min.js"></script>
		<script src="../asset/js/min/velocity.min.js"></script>
		<script src="../asset/js/min/jquery.inview.min.js"></script>
		<script src="../asset/js/common.js"></script>
		<script src="../asset/js/min/jquery.bxslider.min.js"></script>
		<script src="../asset/js/theme-interview.js"></script>
	</body>
</html>

src/interview/nishimura.pug
include ../include/_mixin.pug
doctype html
html(lang="ja")
    head
        include ../include/_head.pug
        include ../include/_config.pug
            - var key = "interview_nishimura"
            - var page = page[key]
                include ../include/_meta.pug
        // stylesheets
        link(rel="stylesheet" href=rootPath + "asset/css/jquery.bxslider.css")
        link(rel="stylesheet" href=rootPath + "asset/css/theme-interview.css")

    body.interview(class=key)
        .l-limit
            include ../include/_header.pug

            //- =================================================================================================

            //- Let's Coding!!
            .l-frame.c-frombottom
                ul.c-breadcrumb
                    li.c-breadcrumb__item: a(href=rootPath + "index.html") 株式会社ブリーチ&nbsp;/&nbsp;
                    li.c-breadcrumb__item: a(href=rootPath + "interview/nishimura.html") Interview 西村 政晃

                .l-col.l-col--sp
                    h2.c-h1 社員インタビュー
                    .c-category: img(src="image/category-interview.png" alt="")
                
                .l-frame--md
                    h3.c-h2
                        |自分と心の底から向き合ってくれる
                        br
                        |先輩社員や社長のためにも、
                        br
                        |「伝説の新入社員」になってみせる。

                    .c-intro.l-col
                        .c-intro__image.l-col__2: img(src="image/nishimura-img01.jpg" alt="")
                        .c-intro__pf.l-col__2
                            p.c-intro__pf__name
                                |西村 政晃
                                br
                                span グロースハッカー職
                            p.c-intro__pf__text 早稲田大学大学院 先進理工学研究科にて、生命理工学を専攻。DNAやRNAの基礎研究に携わる。教育業界、ベンチャー企業を志望して就職活動を進め、2018年夏にBLEACHにてインターン開始。BLEACHからの内定を承諾し、修士論文を提出後、フルタイムでの業務をスタート。2019年4月に「新卒1期生」として正社員で入社。

            //- =================================================================================================

            .l-frame.c-frombottom
                .l-frame--sm
                    .t-block
                        .c-h3.c-h3--tweak
                            span BLEACHへの入社理由
                            br
                            |自分の力を高めるために、急成長企業で揉まれたい
                        .c-p 私の原点は、「大学受験のための猛勉強」にあります。当時の成績は学年で最下位。一方、サッカー部の同級生のライバルが学年でトップ。何度となく比較されて悔しい思いをしていました。何とか彼に追いつきたいと、腹を決めて猛勉強を開始。休日も1日中ひたすら勉強していると、ある日突然、声が出なくなったのです。勉強へのストレスと、人と話す機会がほとんど無くなったからだと思います。受験のプレッシャーが原因で、自分のような苦しい経験をする学生は減らしたい。大学に入ってからも、ずっとそう考えていたのです。
                            br
                            br
                            |就職活動の時期を迎えて、まず最初に志望したのは教育業界です。ただし、ここで壁にぶつかります。幾つかの会社を受けたのですが、多くの面接官から「学生を救いたいのは分かるが、現実が見えていない」という指摘を受けました。結果、全ての会社から内定はもらえませんでした。もう一度振り返ってみて、「まずは自分の力を高めるために、鍛えられる環境を選ぼう」と考え、ベンチャー企業を志望するように。そこで、新しいビジネスモデルで急成長しているBLEACHを選んだのです。

                    .t-block
                        .c-h3.c-h3--tweak 
                            span BLEACHでの仕事のやりがい
                            br
                            |良い提案は全て採用される。
                            br
                            |相手がインターン生であっても、新入社員であっても
                        .c-p 大学院の研究と両立させながら、修士2年の夏からBLEACHでのインターンを始めました。週に1日出社して、広告の効果データの集計と分析を担当。細かく指示されるのではなく、自由にやらせてもらいました。マネージャーに「実務で使えるデータになっている。ありがとう」と言われたのは嬉しかったですね。
                            br
                            br
                            |BLEACHで仕事をしていて感じるのは、新人の提案にも誰もが耳を傾けてくれること。これまでに培ってきた社内の常識に対して、私から疑問の声を投げかけても、きちんと検討してくれます。これには驚きましたね。自分が提案した、広告効果の分析フォーマットが採用されたこともありました。相手が学生であっても、新入社員であっても、業務の改善に活かせる提案は全てを採用する。淡々と決められたタスクをこなすだけの社員は一人としていません。常に高い目標に向かって、飽くなき改善を続けている社風が、自分には合っています。言わば「ビジネスアスリートが集うプロスポーツチーム」。業務を進めるスピードも、ものすごく速いです。そして、個の力も強い。このような環境で社会人生活のスタートを切ることができたのは、今後のキャリアを考えるとかなり大きいと感じています。

                    .t-block
                        .c-h3.c-h3--tweak
                            span 今後のビジョン
                            br
                            |このチャンスを、何が何でも活かす。
                            br
                            |自分の過去に向き合ってくれた、
                            br
                            |社長とBLEACHの仲間のためにも
                        .c-p 最終面接のときに社長が掛けてくれた言葉が、今だに忘れられません。「受験のときの経験は素晴らしいと思う。あそこまで一つのことに集中できる人はなかなかいない。そこで苦しんだことや学んだことは、この仕事で絶対に活かせるよ」。ここまで一人の学生の葛藤に向き合ってくれたのは、BLEACHの社長と先輩社員だけでした。
                            br
                            br
                            |その言葉を嚙み締めながら、日々を過ごしています。早いうちに、組織全体、事業全体に貢献できるようになりたいです。遅くても1年以内には、マネージャーになって、数億円の売上の責任者として業績に貢献したい。BLEACHは急成長しているので、マネージャーのポストも増えてくるでしょう。このチャンスを何が何でも活かす。そして、「伝説の新入社員」と呼ばれるようになる。そう腹で決めています。そして、もし、遠い未来に、教育の仕事に携わることになったら、ここで学んだことを全てぶつけて、業界全体を変えるくらいのことをやってみたいですね。

            //- =================================================================================================

            .l-frame.l-frame--sm.t-other
                .t-other__image: img(src="image/nishimura-img02.jpg" alt="")

                p.t-other__heading 他の社員を見る

                include ../include/_interview.pug

            //- =================================================================================================

            .l-frame
                .c-btn: a(href=rootPath + "./index.html") トップページに戻る

            //- =================================================================================================

            include ../include/_footer.pug
        include ../include/_scripts.pug
        script(src=rootPath + "asset/js/min/jquery.bxslider.min.js")
        script(src=rootPath + "asset/js/theme-interview.js")
