src/interview/ohira.pug
include ../include/_mixin.pug
doctype html
html(lang="ja")
    head
        include ../include/_head.pug
        include ../include/_config.pug
            - var key = "interview_ohira_ceo"
            - var page = page[key]
                include ../include/_meta.pug
        // stylesheets
        link(rel="stylesheet" href=rootPath + "asset/css/jquery.bxslider.css")
        link(rel="stylesheet" href=rootPath + "asset/css/theme-interview.css")

    body.interview(class=key)
        .l-limit
            include ../include/_header.pug

            //- =================================================================================================

            //- Let's Coding!!
            .l-frame.c-frombottom
                ul.c-breadcrumb
                    li.c-breadcrumb__item: a(href=rootPath + "index.html") 株式会社ブリーチ&nbsp;/&nbsp;
                    li.c-breadcrumb__item: a(href=rootPath + "interview/ohira.html") Interview 大平 啓介

                .l-col.l-col--sp
                    h2.c-h1 社長インタビュー
                    .c-category: img(src="image/category-interview.png" alt="")
                
                .l-frame--md
                    h3.c-h2
                        |これまでの概念を超える会社をつくり、
                        br
                        |一人ひとりの社員を輝かせ、
                        br
                        |世界経済にインパクトを与えたい。

                    .c-intro.l-col
                        .c-intro__image.l-col__2: img(src="image/ohira-img01.jpg" alt="")
                        .c-intro__pf.l-col__2
                            p.c-intro__pf__name
                                |大平 啓介
                                br
                                span 代表取締役社長
                            p.c-intro__pf__text 大学入学後、教育系企業のWeb集客から事業を始める。その後、自宅アパートにてインターネット販促支援事業をスタート。2010年、個人事業主からクライアント商品数の増加に伴い法人設立、代表取締役に就任（現　株式会社ブリーチ）。法人設立前から10年間、インターネットを用いた販売・マーケティング支援を行ってきた。大平のマーケティングによって多数のヒット商品が生まれている。

            //- =================================================================================================

            .l-frame.c-frombottom
                .l-frame--sm
                    .t-block
                        .c-h3.c-h3--tweak 普通の成長ではなく、「冒険的な」成長を
                        .c-p 「商売を大きく。 日本から世界へ、冒険的な成長を」。これがBLEACHの目指すべきビジョンです。2016年に「シェアリング型統合マーケティング」事業をスタートさせ、翌2017年には対前年比で300%の成長を果たしました。その後は毎年150%のスピードで事業が拡大。私たち自身が想像できない速さで成長を実現して、日本を突き抜けて世界の経済に貢献したい。だから、「冒険的な成長」という言葉を使いました。
                            br
                            br
                            |そして、「世界を照らす」という経営理念を掲げています。社会に対してインパクトを与えて、社員が輝いている会社をつくり、かつ世界を輝かせる会社にしていきたいという想いからです。売上規模だけを追求するのではなく、社員が輝くようにイキイキと働いていることに意味があります。一人ひとりの幸せが、仕事を通じて世界に伝わり、結果として世界が輝く。その実現のために、BLEACHは存在するものと定義しています。

                    .t-block
                        .c-h3.c-h3--tweak 「シェアリング型統合マーケティング」という新しいマーケティング活動
                        .c-p 私たちの成長の原動力は、DtoC（Direct to Consumer）領域に特化した「シェアリング型統合マーケティング」事業です。「DtoC」の名の通り、クライアントであるメーカーから直接、消費者に商品を届ける際のマーケティングを一手に担います。そして、その売上をクライアントとシェアする新しいビジネスモデルです。ユーザー獲得のために、先行してリスクを取り、消費者のトレンドを商品企画にフィードバックできます。クライアントと売上をシェアするからこそ、商品のヒットを真剣に目指せる。クライアントとの受注関係ではなく、成功へのパートナーとして取引ができます。その結果として、事業が急速に成長しているのです。
                            br
                            br
                            |この「シェアリング型統合マーケティング」を基幹事業として日本一を目指すのと同時に、新しい取り組みを検討しています。これまでに培った強みを活かして、新規事業や関連事業を準備中です。そして、2027年に売上1000億円のメガベンチャーに成長し、2047年には売上高1兆円の規模にまで拡大したいと考えています。

                    .t-block
                        .c-h3.c-h3--tweak 「強いデジタルマーケティングを学び、
                            br
                            |市場価値の高い人財になりたい人」に来て欲しい
                        .c-p 「組織こそがBLEACHのプロダクトである」という考え方のもと、2017年から採用・教育を経営の最重要項目と位置づけ、全社を挙げて取り組んでいます。採用を「未来をつくる投資活動」と定義して、ベンチャーの常識を超えた採用予算を投下。この規模の会社では異例ではありますが、新卒採用にも注力しています。
                            br
                            br
                            |求める人物像は、一言で言えば、「強いデジタルマーケティングを学び、市場価値の高い人財になりたい人」です。企業理念の「世界を照らす」を実現するためには、一人ひとりが周りを照らして感謝される存在にならなくてはなりません。ですから、BLEACHでは、若くても大きな仕事を任せます。社会人2年目の社員で、すでに数十億円の事業責任を持ってもらっている者もいます。責任だけではなく、予算や人事の権限も徹底的に与えているので、経営者と同じメンタリティで仕事をしている。急成長している業界で、オンリーワンの事業を展開しているBLEACHだからこそ、比類の無いスピードで、高い市場価値を得ることができるのです。加速度的に成長したい人を待っています。

            //- =================================================================================================

            .l-frame.l-frame--sm.t-other
                .t-other__image: img(src="image/ohira-img02.jpg" alt="")

                p.t-other__heading 他の社員を見る

                include ../include/_interview.pug

            //- =================================================================================================

            .l-frame
                .c-btn: a(href=rootPath + "./index.html") トップページに戻る

            //- =================================================================================================

            include ../include/_footer.pug
        include ../include/_scripts.pug
        script(src=rootPath + "asset/js/min/jquery.bxslider.min.js")
        script(src=rootPath + "asset/js/theme-interview.js")

dest/interview/ohira.html
<!DOCTYPE html>
<html lang="ja">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width">
		<meta name="format-detection" content="telephone=no">
		<meta name="robots" content="index,follow">
		<!-- main title-->
		<title>株式会社ブリーチ | Interview 柴田 智之</title>
		<!-- meta tags-->
		<meta name="description" content="株式会社ブリーチは「商売を大きく。日本から世界へ、冒険的な成長を。」というビジョンを掲げ、統合型デジタルマーケティングでD2C支援No.1を目指す企業です。私たちは、「ココロを共感させるマーケティング力」と「圧倒的な数字の分析力」、「成果を出す強い意志」を武器に社会のニーズに対して新しい解決策を生み出し続けます。">
		<meta property="og:title" content="株式会社ブリーチ | Interview 柴田 智之">
		<meta property="og:type" content="website">
		<meta property="og:image" content="http://bleach.co.jp/og.png">
		<meta property="og:url" content="http://bleach.co.jp/recruit.html">
		<meta property="og:description" content="株式会社ブリーチは「商売を大きく。日本から世界へ、冒険的な成長を。」というビジョンを掲げ、統合型デジタルマーケティングでD2C支援No.1を目指す企業です。私たちは、「ココロを共感させるマーケティング力」と「圧倒的な数字の分析力」、「成果を出す強い意志」を武器に社会のニーズに対して新しい解決策を生み出し続けます。">
		<!-- favicon-->
		<link rel="shortcut icon" href="../favicon.ico" type="image/x-icon">
		<!-- google fonts-->
		<link href="https://fonts.googleapis.com/css?family=Roboto:300,400" rel="stylesheet">
		<!-- stylesheets-->
		<link rel="stylesheet" href="../asset/css/jquery.bxslider.css">
		<link rel="stylesheet" href="../asset/css/theme-interview.css">
	</head>
	<body class="interview interview_ohira_ceo">
		<div class="l-limit">
			<div class="l-header">
				<div class="l-line"><span></span></div>
				<h1 class="l-header__logo"><a href="#" title="株式会社ブリーチ"><img src="../image/logo.png" alt="株式会社ブリーチ"></a></h1>
				<div class="l-col l-header__gnav">
					<div class="l-nav l-col">
						<ul class="l-nav__ul l-nav__ul--main l-col">
							<li class="l-nav__ul__item"><a class="bar-home" href="../index.html">Home</a></li>
							<li class="l-nav__ul__item"><a class="bar-company" href="../company/index.html">Company</a></li>
							<li class="l-nav__ul__item"><a class="bar-vision" href="../vision/index.html">Vision</a></li>
							<li class="l-nav__ul__item"><a class="bar-service" href="../service/index.html">Service</a></li>
							<li class="l-nav__ul__item l-nav__ul__item--btn">Interview<span></span>
								<ul class="l-nestnav">
									<li class="l-nestnav__item"><a href="../interview/ohira.html">代表取締役社長（大平啓介）</a></li>
									<li class="l-nestnav__item"><a href="../interview/mizutani.html">マネージャー（水谷慶）</a></li>
									<li class="l-nestnav__item"><a href="../interview/watanabe.html">マネージャー（渡邉緑）</a></li>
									<li class="l-nestnav__item"><a href="../interview/nakamura.html">セールスライター（中村悠人）</a></li>
									<li class="l-nestnav__item"><a href="../interview/shimizu.html">セールスライター（清水里沙）</a></li>
									<li class="l-nestnav__item"><a href="../interview/nishimura.html">グロースハッカー（西村政晃）</a></li>
									<li class="l-nestnav__item"><a href="../interview/suzuki.html">セールスライター（鈴木大志）</a></li>
								</ul>
							</li>
							<li class="l-nav__ul__item"><a class="bar-recruiting" href="../recruiting/index.html">Recruiting</a></li>
						</ul>
					</div>
					<div class="l-nav l-col">
						<ul class="l-nav__ul l-nav__ul--sub l-col l-col--sp">
							<li class="l-nav__ul__item l-nav__ul__item--entry l-nav__ul__item--bg"><a class="c-bg" href="../blog/">Blog</a></li>
							<li class="l-nav__ul__item l-nav__ul__item--entry l-nav__ul__item--ng"><a class="c-ng" href="https://job.mynavi.jp/21/pc/search/corp229819/outline.html" target="_blank">新卒エントリー</a></li>
							<li class="l-nav__ul__item l-nav__ul__item--entry l-nav__ul__item--mc"><a class="c-mc" href="https://hrmos.co/pages/bleach" target="_blank">中途エントリー</a></li>
						</ul>
					</div>
				</div>
			</div>
			<div class="l-frame c-frombottom">
				<ul class="c-breadcrumb">
					<li class="c-breadcrumb__item"><a href="../index.html">株式会社ブリーチ&nbsp;/&nbsp;</a></li>
					<li class="c-breadcrumb__item"><a href="../interview/ohira.html">Interview 大平 啓介</a></li>
				</ul>
				<div class="l-col l-col--sp">
					<h2 class="c-h1">社長インタビュー</h2>
					<div class="c-category"><img src="image/category-interview.png" alt=""></div>
				</div>
				<div class="l-frame--md">
					<h3 class="c-h2">これまでの概念を超える会社をつくり、<br>一人ひとりの社員を輝かせ、<br>世界経済にインパクトを与えたい。</h3>
					<div class="c-intro l-col">
						<div class="c-intro__image l-col__2"><img src="image/ohira-img01.jpg" alt=""></div>
						<div class="c-intro__pf l-col__2">
							<p class="c-intro__pf__name">大平 啓介<br><span>代表取締役社長</span></p>
							<p class="c-intro__pf__text">大学入学後、教育系企業のWeb集客から事業を始める。その後、自宅アパートにてインターネット販促支援事業をスタート。2010年、個人事業主からクライアント商品数の増加に伴い法人設立、代表取締役に就任（現　株式会社ブリーチ）。法人設立前から10年間、インターネットを用いた販売・マーケティング支援を行ってきた。大平のマーケティングによって多数のヒット商品が生まれている。</p>
						</div>
					</div>
				</div>
			</div>
			<div class="l-frame c-frombottom">
				<div class="l-frame--sm">
					<div class="t-block">
						<div class="c-h3 c-h3--tweak">普通の成長ではなく、「冒険的な」成長を</div>
						<div class="c-p">「商売を大きく。 日本から世界へ、冒険的な成長を」。これがBLEACHの目指すべきビジョンです。2016年に「シェアリング型統合マーケティング」事業をスタートさせ、翌2017年には対前年比で300%の成長を果たしました。その後は毎年150%のスピードで事業が拡大。私たち自身が想像できない速さで成長を実現して、日本を突き抜けて世界の経済に貢献したい。だから、「冒険的な成長」という言葉を使いました。<br><br>そして、「世界を照らす」という経営理念を掲げています。社会に対してインパクトを与えて、社員が輝いている会社をつくり、かつ世界を輝かせる会社にしていきたいという想いからです。売上規模だけを追求するのではなく、社員が輝くようにイキイキと働いていることに意味があります。一人ひとりの幸せが、仕事を通じて世界に伝わり、結果として世界が輝く。その実現のために、BLEACHは存在するものと定義しています。</div>
					</div>
					<div class="t-block">
						<div class="c-h3 c-h3--tweak">「シェアリング型統合マーケティング」という新しいマーケティング活動</div>
						<div class="c-p">私たちの成長の原動力は、DtoC（Direct to Consumer）領域に特化した「シェアリング型統合マーケティング」事業です。「DtoC」の名の通り、クライアントであるメーカーから直接、消費者に商品を届ける際のマーケティングを一手に担います。そして、その売上をクライアントとシェアする新しいビジネスモデルです。ユーザー獲得のために、先行してリスクを取り、消費者のトレンドを商品企画にフィードバックできます。クライアントと売上をシェアするからこそ、商品のヒットを真剣に目指せる。クライアントとの受注関係ではなく、成功へのパートナーとして取引ができます。その結果として、事業が急速に成長しているのです。<br><br>この「シェアリング型統合マーケティング」を基幹事業として日本一を目指すのと同時に、新しい取り組みを検討しています。これまでに培った強みを活かして、新規事業や関連事業を準備中です。そして、2027年に売上1000億円のメガベンチャーに成長し、2047年には売上高1兆円の規模にまで拡大したいと考えています。</div>
					</div>
					<div class="t-block">
						<div class="c-h3 c-h3--tweak">「強いデジタルマーケティングを学び、<br>市場価値の高い人財になりたい人」に来て欲しい</div>
						<div class="c-p">「組織こそがBLEACHのプロダクトである」という考え方のもと、2017年から採用・教育を経営の最重要項目と位置づけ、全社を挙げて取り組んでいます。採用を「未来をつくる投資活動」と定義して、ベンチャーの常識を超えた採用予算を投下。この規模の会社では異例ではありますが、新卒採用にも注力しています。<br><br>求める人物像は、一言で言えば、「強いデジタルマーケティングを学び、市場価値の高い人財になりたい人」です。企業理念の「世界を照らす」を実現するためには、一人ひとりが周りを照らして感謝される存在にならなくてはなりません。ですから、BLEACHでは、若くても大きな仕事を任せます。社会人2年目の社員で、すでに数十億円の事業責任を持ってもらっている者もいます。責任だけではなく、予算や人事の権限も徹底的に与えているので、経営者と同じメンタリティで仕事をしている。急成長している業界で、オンリーワンの事業を展開しているBLEACHだからこそ、比類の無いスピードで、高い市場価値を得ることができるのです。加速度的に成長したい人を待っています。</div>
					</div>
				</div>
			</div>
			<div class="l-frame l-frame--sm t-other">
				<div class="t-other__image"><img src="image/ohira-img02.jpg" alt=""></div>
				<p class="t-other__heading">他の社員を見る</p>
				<div class="t-slide t-slide--3 l-col l-col--fw">
					<div class="t-window l-col__3" data-interview="ohira">
						<div class="t-window__image"><a href="ohira.html"><img src="image/next-ohira.jpg" alt=""></a></div>
						<p class="t-window__pos">
							 大平 啓介<br>代表取締役社長</p>
					</div>
					<div class="t-window l-col__3" data-interview="watanabe">
						<div class="t-window__image"><a href="watanabe.html"><img src="image/next-watanabe.jpg" alt=""></a></div>
						<p class="t-window__pos">
							 渡邉 緑<br>マネージャー職</p>
					</div>
					<div class="t-window l-col__3" data-interview="mizutani">
						<div class="t-window__image"><a href="mizutani.html"><img src="image/next-mizutani.jpg" alt=""></a></div>
						<p class="t-window__pos">
							 水谷 慶<br>マネージャー職</p>
					</div>
					<div class="t-window l-col__3" data-interview="nakamura">
						<div class="t-window__image"><a href="nakamura.html"><img src="image/next-nakamura.jpg" alt=""></a></div>
						<p class="t-window__pos">
							 中村 悠人<br>セールスライター職</p>
					</div>
					<div class="t-window l-col__3" data-interview="nishimura">
						<div class="t-window__image"><a href="nishimura.html"><img src="image/next-nishimura.jpg" alt=""></a></div>
						<p class="t-window__pos">
							 西村 政晃<br>グロースハッカー職</p>
					</div>
					<div class="t-window l-col__3" data-interview="shimizu">
						<div class="t-window__image"><a href="shimizu.html"><img src="image/next-shimizu.jpg" alt=""></a></div>
						<p class="t-window__pos">
							 清水 里沙<br>セールスライター職</p>
					</div>
					<div class="t-window l-col__3" data-interview="suzuki">
						<div class="t-window__image"><a href="suzuki.html"><img src="image/next-suzuki.jpg" alt=""></a></div>
						<p class="t-window__pos">
							 鈴木 大志<br>セールスライター職</p>
					</div>
				</div>
			</div>
			<div class="l-frame">
				<div class="c-btn"><a href=".././index.html">トップページに戻る</a></div>
			</div>
			<div class="l-footer">
				<div class="l-footer__backtop"><a href=""><img src="../image/backtop.png" alt=""></a></div>
				<div class="l-footer__image"><img src="../image/footer-img01.jpg" alt=""></div>
				<div class="l-frame">
					<div class="l-frame--md">
						<div class="l-col">
							<div class="l-footer__link"><a class="c-ng" href="https://job.mynavi.jp/21/pc/search/corp229819/outline.html" target="_blank"><span>NEW GRADUATE</span><br>新卒採用エントリー</a></div>
							<div class="l-footer__link"><a class="c-mc" href="https://hrmos.co/pages/bleach" target="_blank"><span>MID-CAREER RECRUITMENT</span><br>中途採用エントリー</a></div>
						</div>
					</div>
				</div>
				<div class="l-frame">
					<p class="l-footer__text">SHARE</p>
					<div class="l-col--sp l-footer__sns">
						<div class="l-footer__sns__item"><a href="http://www.facebook.com/share.php?u=http://bleach.co.jp/recruit.html" target="_blank"><img src="../image/icon-facebook.png" alt=""></a></div>
						<div class="l-footer__sns__item"><a href="http://twitter.com/share?&amp;url=http://bleach.co.jp/&amp;hashtags=株式会社ブリーチHP" target="_blank"><img src="../image/icon-twitter.png" alt=""></a></div>
					</div>
				</div>
				<div class="l-frame">
					<div class="l-footer__copyright"><small>Copyright c BLEACH.Inc.All.Rights.Reserved.</small></div>
				</div>
			</div>
		</div>
		<script src="../asset/js/min/jquery-3.1.1.min.js"></script>
		<script src="../asset/js/min/velocity.min.js"></script>
		<script src="../asset/js/min/jquery.inview.min.js"></script>
		<script src="../asset/js/common.js"></script>
		<script src="../asset/js/min/jquery.bxslider.min.js"></script>
		<script src="../asset/js/theme-interview.js"></script>
	</body>
</html>
