dest/interview/shimizu.html
<!DOCTYPE html>
<html lang="ja">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width">
		<meta name="format-detection" content="telephone=no">
		<meta name="robots" content="index,follow">
		<!-- main title-->
		<title>株式会社ブリーチ | Interview 清水 里沙</title>
		<!-- meta tags-->
		<meta name="description" content="株式会社ブリーチは「商売を大きく。日本から世界へ、冒険的な成長を。」というビジョンを掲げ、統合型デジタルマーケティングでD2C支援No.1を目指す企業です。私たちは、「ココロを共感させるマーケティング力」と「圧倒的な数字の分析力」、「成果を出す強い意志」を武器に社会のニーズに対して新しい解決策を生み出し続けます。">
		<meta property="og:title" content="株式会社ブリーチ | Interview 清水 里沙">
		<meta property="og:type" content="website">
		<meta property="og:image" content="http://bleach.co.jp/og.png">
		<meta property="og:url" content="http://bleach.co.jp/recruit.html">
		<meta property="og:description" content="株式会社ブリーチは「商売を大きく。日本から世界へ、冒険的な成長を。」というビジョンを掲げ、統合型デジタルマーケティングでD2C支援No.1を目指す企業です。私たちは、「ココロを共感させるマーケティング力」と「圧倒的な数字の分析力」、「成果を出す強い意志」を武器に社会のニーズに対して新しい解決策を生み出し続けます。">
		<!-- favicon-->
		<link rel="shortcut icon" href="../favicon.ico" type="image/x-icon">
		<!-- google fonts-->
		<link href="https://fonts.googleapis.com/css?family=Roboto:300,400" rel="stylesheet">
		<!-- stylesheets-->
		<link rel="stylesheet" href="../asset/css/jquery.bxslider.css">
		<link rel="stylesheet" href="../asset/css/theme-interview.css">
	</head>
	<body class="interview interview_shimizu">
		<div class="l-limit">
			<div class="l-header">
				<div class="l-line"><span></span></div>
				<h1 class="l-header__logo"><a href="#" title="株式会社ブリーチ"><img src="../image/logo.png" alt="株式会社ブリーチ"></a></h1>
				<div class="l-col l-header__gnav">
					<div class="l-nav l-col">
						<ul class="l-nav__ul l-nav__ul--main l-col">
							<li class="l-nav__ul__item"><a class="bar-home" href="../index.html">Home</a></li>
							<li class="l-nav__ul__item"><a class="bar-company" href="../company/index.html">Company</a></li>
							<li class="l-nav__ul__item"><a class="bar-vision" href="../vision/index.html">Vision</a></li>
							<li class="l-nav__ul__item"><a class="bar-service" href="../service/index.html">Service</a></li>
							<li class="l-nav__ul__item l-nav__ul__item--btn">Interview<span></span>
								<ul class="l-nestnav">
									<li class="l-nestnav__item"><a href="../interview/ohira.html">代表取締役社長（大平啓介）</a></li>
									<li class="l-nestnav__item"><a href="../interview/mizutani.html">マネージャー（水谷慶）</a></li>
									<li class="l-nestnav__item"><a href="../interview/watanabe.html">マネージャー（渡邉緑）</a></li>
									<li class="l-nestnav__item"><a href="../interview/nakamura.html">セールスライター（中村悠人）</a></li>
									<li class="l-nestnav__item"><a href="../interview/shimizu.html">セールスライター（清水里沙）</a></li>
									<li class="l-nestnav__item"><a href="../interview/nishimura.html">グロースハッカー（西村政晃）</a></li>
									<li class="l-nestnav__item"><a href="../interview/suzuki.html">セールスライター（鈴木大志）</a></li>
								</ul>
							</li>
							<li class="l-nav__ul__item"><a class="bar-recruiting" href="../recruiting/index.html">Recruiting</a></li>
						</ul>
					</div>
					<div class="l-nav l-col">
						<ul class="l-nav__ul l-nav__ul--sub l-col l-col--sp">
							<li class="l-nav__ul__item l-nav__ul__item--entry l-nav__ul__item--bg"><a class="c-bg" href="../blog/">Blog</a></li>
							<li class="l-nav__ul__item l-nav__ul__item--entry l-nav__ul__item--ng"><a class="c-ng" href="https://job.mynavi.jp/21/pc/search/corp229819/outline.html" target="_blank">新卒エントリー</a></li>
							<li class="l-nav__ul__item l-nav__ul__item--entry l-nav__ul__item--mc"><a class="c-mc" href="https://hrmos.co/pages/bleach" target="_blank">中途エントリー</a></li>
						</ul>
					</div>
				</div>
			</div>
			<div class="l-frame c-frombottom">
				<ul class="c-breadcrumb">
					<li class="c-breadcrumb__item"><a href="../index.html">株式会社ブリーチ&nbsp;/&nbsp;</a></li>
					<li class="c-breadcrumb__item"><a href="../interview/shimizu.html">Interview 清水 里沙</a></li>
				</ul>
				<div class="l-col l-col--sp">
					<h2 class="c-h1">社員インタビュー</h2>
					<div class="c-category"><img src="image/category-interview.png" alt=""></div>
				</div>
				<div class="l-frame--md">
					<h3 class="c-h2">この仕事に自分の人生を賭ける。<br>会社のために。そして、業界のために。</h3>
					<div class="c-intro l-col">
						<div class="c-intro__image l-col__2"><img src="image/shimizu-img01.jpg" alt=""></div>
						<div class="c-intro__pf l-col__2">
							<p class="c-intro__pf__name">清水 里沙<br><span>セールスライター職</span></p>
							<p class="c-intro__pf__text">大学ではデザイン学科で映像コースを専攻。卒業後、専門学校で写真について学ぶ。アルバイトで販売職を経験し、Web制作会社に入社。バナーなどのデザインを制作。その後、フリーの映像ディレクターを経て、2017年11月にBLEACHに入社。広告の運用アシスタントとしての研修後、セールスライター職に就き、数々のヒット商品を生み出している。</p>
						</div>
					</div>
				</div>
			</div>
			<div class="l-frame c-frombottom">
				<div class="l-frame--sm">
					<div class="t-block">
						<div class="c-h3 c-h3--tweak"><span>BLEACHへの入社理由</span><br>様々なクライアントに、幅広くマーケティングを支援していきたい</div>
						<div class="c-p">前職は、Web制作会社にデザイナーとして勤めていました。仕事自体は楽しかったのですが、10名足らずの小さい会社ということもあり、かなりの激務でした。規模も縮小しようとしていたので、労働状況の改善とクリエイターとしてのステップアップを求めて、外に飛び出しました。フリーの映像ディレクターとして独立したのですが、すぐには食べていくのは難しかった。そして、「自分の視野は狭い。もっと社会を知ろう」と思って、様々なクライアントに幅広いマーケティングの支援を行っているBLEACHに入社したのです。</div>
					</div>
					<div class="t-block">
						<div class="c-h3 c-h3--tweak"> <span>BLEACHでの仕事のやりがい</span><br>私の文章で、商品が飛ぶように売れる。その感覚がたまらない</div>
						<div class="c-p">広告の運用サポート業務で仕事に慣れた後、セールスライター職へと異動になりました。この仕事が自分に合っていて、どっぷりとハマっています。購買者の潜在的なニーズを掘り起こして、「衝動買い」を生み出させたときがとても楽しいですね。これまでに学んできたデザイン、写真、映像の知識を全て活かすこともできています。ユーザーやクライアントの満足を突き詰めてきた経験が、セールスライティングで成果を追求する際のベースです。ユーザーを喜ばせるために表現の細部まで気を遣ったり、そのために研究を重ねたり。魂を込めた仕事をしている自負はあります。その結果、私が制作した広告で飛ぶように商品が売れていったときには、大きなやりがいを感じていますね。<br><br>ヒットを生むためには、購買ターゲットの潜在意識を探ることが大切です。私には子供はいませんが、ママさんバレーのチームに所属しています。そこで周りの人たちに世間話の中でヒアリングすることも多いですね。「お肌で悩んでいることありますか？」「普段どのようなサイトを見ていますか？」といったように。そこで聞けた内容がヒットにつながったことは、一度や二度ではありません。<br><br>BLEACHの良いところは、アイデアを思いついたらすぐに実行できること。広告のテスト配信を行いたいときには、百万円単位の出稿料をポーンと出してくれますし、媒体のアカウントも現場の裁量で開けます。アイデアの仮説検証を高速で行えるので、広告のヒット率を向上できましたし、クリエイターとしても急速に成長できました。試行錯誤の質と量が半端ないですね。BLEACHの1年間は、前の会社の10年間くらいと言っても、過言ではありません。</div>
					</div>
					<div class="t-block">
						<div class="c-h3 c-h3--tweak"><span>今後のビジョン</span><br>この会社と業界を牽引する、リーダーになりたい</div>
						<div class="c-p">個人的には、DtoC（Direct to Consumer：商品の企画から販売まで、全てを手掛けるモデル）領域のライターとして、TOPになりたいと思っています。ここまで楽しくて、自分の人生を賭けられる仕事は無いですね。映像も写真もデザインの仕事も楽しかったのですが、ハマり度が違います。まだ業界としての歴史も浅いので、時代を切り拓く先人になりたいです。<br><br>その上で、後輩を育てていくのも私の使命だと感じています。正直、ライティングのノウハウを教えるのは簡単ではありません。しかし、その壁を乗り越えて皆を同じレベルに引き上げることができれば、会社の成長がさらに加速していくはずです。自分が手掛けた広告記事の一つひとつが、会社と業界の未来につながっている。そう感じながら、日々を過ごしています。</div>
					</div>
				</div>
			</div>
			<div class="l-frame l-frame--sm t-other">
				<div class="t-other__image"><img src="image/shimizu-img02.jpg" alt=""></div>
				<p class="t-other__heading">他の社員を見る</p>
				<div class="t-slide t-slide--3 l-col l-col--fw">
					<div class="t-window l-col__3" data-interview="ohira">
						<div class="t-window__image"><a href="ohira.html"><img src="image/next-ohira.jpg" alt=""></a></div>
						<p class="t-window__pos">
							 大平 啓介<br>代表取締役社長</p>
					</div>
					<div class="t-window l-col__3" data-interview="watanabe">
						<div class="t-window__image"><a href="watanabe.html"><img src="image/next-watanabe.jpg" alt=""></a></div>
						<p class="t-window__pos">
							 渡邉 緑<br>マネージャー職</p>
					</div>
					<div class="t-window l-col__3" data-interview="mizutani">
						<div class="t-window__image"><a href="mizutani.html"><img src="image/next-mizutani.jpg" alt=""></a></div>
						<p class="t-window__pos">
							 水谷 慶<br>マネージャー職</p>
					</div>
					<div class="t-window l-col__3" data-interview="nakamura">
						<div class="t-window__image"><a href="nakamura.html"><img src="image/next-nakamura.jpg" alt=""></a></div>
						<p class="t-window__pos">
							 中村 悠人<br>セールスライター職</p>
					</div>
					<div class="t-window l-col__3" data-interview="nishimura">
						<div class="t-window__image"><a href="nishimura.html"><img src="image/next-nishimura.jpg" alt=""></a></div>
						<p class="t-window__pos">
							 西村 政晃<br>グロースハッカー職</p>
					</div>
					<div class="t-window l-col__3" data-interview="shimizu">
						<div class="t-window__image"><a href="shimizu.html"><img src="image/next-shimizu.jpg" alt=""></a></div>
						<p class="t-window__pos">
							 清水 里沙<br>セールスライター職</p>
					</div>
					<div class="t-window l-col__3" data-interview="suzuki">
						<div class="t-window__image"><a href="suzuki.html"><img src="image/next-suzuki.jpg" alt=""></a></div>
						<p class="t-window__pos">
							 鈴木 大志<br>セールスライター職</p>
					</div>
				</div>
			</div>
			<div class="l-frame">
				<div class="c-btn"><a href=".././index.html">トップページに戻る</a></div>
			</div>
			<div class="l-footer">
				<div class="l-footer__backtop"><a href=""><img src="../image/backtop.png" alt=""></a></div>
				<div class="l-footer__image"><img src="../image/footer-img01.jpg" alt=""></div>
				<div class="l-frame">
					<div class="l-frame--md">
						<div class="l-col">
							<div class="l-footer__link"><a class="c-ng" href="https://job.mynavi.jp/21/pc/search/corp229819/outline.html" target="_blank"><span>NEW GRADUATE</span><br>新卒採用エントリー</a></div>
							<div class="l-footer__link"><a class="c-mc" href="https://hrmos.co/pages/bleach" target="_blank"><span>MID-CAREER RECRUITMENT</span><br>中途採用エントリー</a></div>
						</div>
					</div>
				</div>
				<div class="l-frame">
					<p class="l-footer__text">SHARE</p>
					<div class="l-col--sp l-footer__sns">
						<div class="l-footer__sns__item"><a href="http://www.facebook.com/share.php?u=http://bleach.co.jp/recruit.html" target="_blank"><img src="../image/icon-facebook.png" alt=""></a></div>
						<div class="l-footer__sns__item"><a href="http://twitter.com/share?&amp;url=http://bleach.co.jp/&amp;hashtags=株式会社ブリーチHP" target="_blank"><img src="../image/icon-twitter.png" alt=""></a></div>
					</div>
				</div>
				<div class="l-frame">
					<div class="l-footer__copyright"><small>Copyright c BLEACH.Inc.All.Rights.Reserved.</small></div>
				</div>
			</div>
		</div>
		<script src="../asset/js/min/jquery-3.1.1.min.js"></script>
		<script src="../asset/js/min/velocity.min.js"></script>
		<script src="../asset/js/min/jquery.inview.min.js"></script>
		<script src="../asset/js/common.js"></script>
		<script src="../asset/js/min/jquery.bxslider.min.js"></script>
		<script src="../asset/js/theme-interview.js"></script>
	</body>
</html>

src/interview/shimizu.pug
include ../include/_mixin.pug
doctype html
html(lang="ja")
    head
        include ../include/_head.pug
        include ../include/_config.pug
            - var key = "interview_shimizu"
            - var page = page[key]
                include ../include/_meta.pug
        // stylesheets
        link(rel="stylesheet" href=rootPath + "asset/css/jquery.bxslider.css")
        link(rel="stylesheet" href=rootPath + "asset/css/theme-interview.css")

    body.interview(class=key)
        .l-limit
            include ../include/_header.pug

            //- =================================================================================================

            //- Let's Coding!!
            .l-frame.c-frombottom
                ul.c-breadcrumb
                    li.c-breadcrumb__item: a(href=rootPath + "index.html") 株式会社ブリーチ&nbsp;/&nbsp;
                    li.c-breadcrumb__item: a(href=rootPath + "interview/shimizu.html") Interview 清水 里沙

                .l-col.l-col--sp
                    h2.c-h1 社員インタビュー
                    .c-category: img(src="image/category-interview.png" alt="")
                
                .l-frame--md
                    h3.c-h2
                        |この仕事に自分の人生を賭ける。
                        br
                        |会社のために。そして、業界のために。

                    .c-intro.l-col
                        .c-intro__image.l-col__2: img(src="image/shimizu-img01.jpg" alt="")
                        .c-intro__pf.l-col__2
                            p.c-intro__pf__name
                                |清水 里沙
                                br
                                span セールスライター職
                            p.c-intro__pf__text 大学ではデザイン学科で映像コースを専攻。卒業後、専門学校で写真について学ぶ。アルバイトで販売職を経験し、Web制作会社に入社。バナーなどのデザインを制作。その後、フリーの映像ディレクターを経て、2017年11月にBLEACHに入社。広告の運用アシスタントとしての研修後、セールスライター職に就き、数々のヒット商品を生み出している。

            //- =================================================================================================

            .l-frame.c-frombottom
                .l-frame--sm
                    .t-block
                        .c-h3.c-h3--tweak
                            span BLEACHへの入社理由
                            br
                            |様々なクライアントに、幅広くマーケティングを支援していきたい
                        .c-p 前職は、Web制作会社にデザイナーとして勤めていました。仕事自体は楽しかったのですが、10名足らずの小さい会社ということもあり、かなりの激務でした。規模も縮小しようとしていたので、労働状況の改善とクリエイターとしてのステップアップを求めて、外に飛び出しました。フリーの映像ディレクターとして独立したのですが、すぐには食べていくのは難しかった。そして、「自分の視野は狭い。もっと社会を知ろう」と思って、様々なクライアントに幅広いマーケティングの支援を行っているBLEACHに入社したのです。

                    .t-block
                        .c-h3.c-h3--tweak 
                            span BLEACHでの仕事のやりがい
                            br
                            |私の文章で、商品が飛ぶように売れる。その感覚がたまらない
                        .c-p 広告の運用サポート業務で仕事に慣れた後、セールスライター職へと異動になりました。この仕事が自分に合っていて、どっぷりとハマっています。購買者の潜在的なニーズを掘り起こして、「衝動買い」を生み出させたときがとても楽しいですね。これまでに学んできたデザイン、写真、映像の知識を全て活かすこともできています。ユーザーやクライアントの満足を突き詰めてきた経験が、セールスライティングで成果を追求する際のベースです。ユーザーを喜ばせるために表現の細部まで気を遣ったり、そのために研究を重ねたり。魂を込めた仕事をしている自負はあります。その結果、私が制作した広告で飛ぶように商品が売れていったときには、大きなやりがいを感じていますね。
                            br
                            br
                            |ヒットを生むためには、購買ターゲットの潜在意識を探ることが大切です。私には子供はいませんが、ママさんバレーのチームに所属しています。そこで周りの人たちに世間話の中でヒアリングすることも多いですね。「お肌で悩んでいることありますか？」「普段どのようなサイトを見ていますか？」といったように。そこで聞けた内容がヒットにつながったことは、一度や二度ではありません。
                            br
                            br
                            |BLEACHの良いところは、アイデアを思いついたらすぐに実行できること。広告のテスト配信を行いたいときには、百万円単位の出稿料をポーンと出してくれますし、媒体のアカウントも現場の裁量で開けます。アイデアの仮説検証を高速で行えるので、広告のヒット率を向上できましたし、クリエイターとしても急速に成長できました。試行錯誤の質と量が半端ないですね。BLEACHの1年間は、前の会社の10年間くらいと言っても、過言ではありません。

                    .t-block
                        .c-h3.c-h3--tweak
                            span 今後のビジョン
                            br
                            |この会社と業界を牽引する、リーダーになりたい
                        .c-p 個人的には、DtoC（Direct to Consumer：商品の企画から販売まで、全てを手掛けるモデル）領域のライターとして、TOPになりたいと思っています。ここまで楽しくて、自分の人生を賭けられる仕事は無いですね。映像も写真もデザインの仕事も楽しかったのですが、ハマり度が違います。まだ業界としての歴史も浅いので、時代を切り拓く先人になりたいです。
                            br
                            br
                            |その上で、後輩を育てていくのも私の使命だと感じています。正直、ライティングのノウハウを教えるのは簡単ではありません。しかし、その壁を乗り越えて皆を同じレベルに引き上げることができれば、会社の成長がさらに加速していくはずです。自分が手掛けた広告記事の一つひとつが、会社と業界の未来につながっている。そう感じながら、日々を過ごしています。

            //- =================================================================================================

            .l-frame.l-frame--sm.t-other
                .t-other__image: img(src="image/shimizu-img02.jpg" alt="")

                p.t-other__heading 他の社員を見る

                include ../include/_interview.pug

            //- =================================================================================================

            .l-frame
                .c-btn: a(href=rootPath + "./index.html") トップページに戻る

            //- =================================================================================================

            include ../include/_footer.pug
        include ../include/_scripts.pug
        script(src=rootPath + "asset/js/min/jquery.bxslider.min.js")
        script(src=rootPath + "asset/js/theme-interview.js")
