dest/interview/suzuki.html
<!DOCTYPE html>
<html lang="ja">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width">
		<meta name="format-detection" content="telephone=no">
		<meta name="robots" content="index,follow">
		<!-- main title-->
		<title>株式会社ブリーチ | Interview 柴田 智之</title>
		<!-- meta tags-->
		<meta name="description" content="株式会社ブリーチは「商売を大きく。日本から世界へ、冒険的な成長を。」というビジョンを掲げ、統合型デジタルマーケティングでD2C支援No.1を目指す企業です。私たちは、「ココロを共感させるマーケティング力」と「圧倒的な数字の分析力」、「成果を出す強い意志」を武器に社会のニーズに対して新しい解決策を生み出し続けます。">
		<meta property="og:title" content="株式会社ブリーチ | Interview 柴田 智之">
		<meta property="og:type" content="website">
		<meta property="og:image" content="http://bleach.co.jp/og.png">
		<meta property="og:url" content="http://bleach.co.jp/recruit.html">
		<meta property="og:description" content="株式会社ブリーチは「商売を大きく。日本から世界へ、冒険的な成長を。」というビジョンを掲げ、統合型デジタルマーケティングでD2C支援No.1を目指す企業です。私たちは、「ココロを共感させるマーケティング力」と「圧倒的な数字の分析力」、「成果を出す強い意志」を武器に社会のニーズに対して新しい解決策を生み出し続けます。">
		<!-- favicon-->
		<link rel="shortcut icon" href="../favicon.ico" type="image/x-icon">
		<!-- google fonts-->
		<link href="https://fonts.googleapis.com/css?family=Roboto:300,400" rel="stylesheet">
		<!-- stylesheets-->
		<link rel="stylesheet" href="../asset/css/jquery.bxslider.css">
		<link rel="stylesheet" href="../asset/css/theme-interview.css">
	</head>
	<body class="interview interview_suzuki">
		<div class="l-limit">
			<div class="l-header">
				<div class="l-line"><span></span></div>
				<h1 class="l-header__logo"><a href="#" title="株式会社ブリーチ"><img src="../image/logo.png" alt="株式会社ブリーチ"></a></h1>
				<div class="l-col l-header__gnav">
					<div class="l-nav l-col">
						<ul class="l-nav__ul l-nav__ul--main l-col">
							<li class="l-nav__ul__item"><a class="bar-home" href="../index.html">Home</a></li>
							<li class="l-nav__ul__item"><a class="bar-company" href="../company/index.html">Company</a></li>
							<li class="l-nav__ul__item"><a class="bar-vision" href="../vision/index.html">Vision</a></li>
							<li class="l-nav__ul__item"><a class="bar-service" href="../service/index.html">Service</a></li>
							<li class="l-nav__ul__item l-nav__ul__item--btn">Interview<span></span>
								<ul class="l-nestnav">
									<li class="l-nestnav__item"><a href="../interview/ohira.html">代表取締役社長（大平啓介）</a></li>
									<li class="l-nestnav__item"><a href="../interview/mizutani.html">マネージャー（水谷慶）</a></li>
									<li class="l-nestnav__item"><a href="../interview/watanabe.html">マネージャー（渡邉緑）</a></li>
									<li class="l-nestnav__item"><a href="../interview/nakamura.html">セールスライター（中村悠人）</a></li>
									<li class="l-nestnav__item"><a href="../interview/shimizu.html">セールスライター（清水里沙）</a></li>
									<li class="l-nestnav__item"><a href="../interview/nishimura.html">グロースハッカー（西村政晃）</a></li>
									<li class="l-nestnav__item"><a href="../interview/suzuki.html">セールスライター（鈴木大志）</a></li>
								</ul>
							</li>
							<li class="l-nav__ul__item"><a class="bar-recruiting" href="../recruiting/index.html">Recruiting</a></li>
						</ul>
					</div>
					<div class="l-nav l-col">
						<ul class="l-nav__ul l-nav__ul--sub l-col l-col--sp">
							<li class="l-nav__ul__item l-nav__ul__item--entry l-nav__ul__item--bg"><a class="c-bg" href="../blog/">Blog</a></li>
							<li class="l-nav__ul__item l-nav__ul__item--entry l-nav__ul__item--ng"><a class="c-ng" href="https://job.mynavi.jp/21/pc/search/corp229819/outline.html" target="_blank">新卒エントリー</a></li>
							<li class="l-nav__ul__item l-nav__ul__item--entry l-nav__ul__item--mc"><a class="c-mc" href="https://hrmos.co/pages/bleach" target="_blank">中途エントリー</a></li>
						</ul>
					</div>
				</div>
			</div>
			<div class="l-frame c-frombottom">
				<ul class="c-breadcrumb">
					<li class="c-breadcrumb__item"><a href="../index.html">株式会社ブリーチ&nbsp;/&nbsp;</a></li>
					<li class="c-breadcrumb__item"><a href="../interview/suzuki.html">Interview 鈴木 大志</a></li>
				</ul>
				<div class="l-col l-col--sp">
					<h2 class="c-h1">社員インタビュー</h2>
					<div class="c-category"><img src="image/category-interview.png" alt=""></div>
				</div>
				<div class="l-frame--md">
					<h3 class="c-h2">インターン入社4か月目で、<br>数千万円の売上をゼロからつくった。</h3>
					<div class="c-intro l-col">
						<div class="c-intro__image l-col__2"><img src="image/suzuki-img01.jpg" alt=""></div>
						<div class="c-intro__pf l-col__2">
							<p class="c-intro__pf__name">鈴木 大志<br><span>セールスライター職</span></p>
							<p class="c-intro__pf__text">高校時代に水や食糧問題に関心を持ち、上智大学法学部 地球環境法学科に入学。大学時代は音楽活動に熱中。エレキベースの腕を磨き、紅白歌合戦にも出場経験があるゴスペルサークルに所属。<br>「20代の内に誰よりも成長したい」という理由で、2019年4月、BLEACHに新卒第一期生として入社した。</p>
						</div>
					</div>
				</div>
			</div>
			<div class="l-frame c-frombottom">
				<div class="l-frame--sm">
					<div class="t-block">
						<div class="c-h3 c-h3--tweak"><span>BLEACHへの入社理由</span><br>早くから権限を持てる場所で<br>試行錯誤の中で成長したい</div>
						<div class="c-p">就職活動の志望先は、ベンチャー企業に絞りました。20代の内に誰よりも成長して、何らかの形で歴史に名を残す人間になりたいからです。高校時代から水や食料の問題に興味があって、大学は地球環境法学科を選んだのですが、大きなことを成し遂げてみたいとずっと思っていました。そのためには、成長のスピードを極限まで高める必要がある。早くから権限を持てて、試行錯誤の高速回転の中で成長できる、ベンチャー企業に的を絞ったのです。<br><br>数社のベンチャー企業から内定をいただきました。その中でBLEACHを選んだ理由は、社長の話に心を根こそぎ持って行かれたからです。「大企業に入る人が偉いんじゃない。大企業になる前の基盤をつくった人が本当は偉いんだ」という言葉には、心から共感できました。また、「自分が極めたマーケティングノウハウを、仕組みとして残して、商品の流通を変えたい」という話も印象に残っています。営利のためだけではなく、BLEACHならば社会のために大きな仕事ができそうだと確信。入社を決めました。</div>
					</div>
					<div class="t-block">
						<div class="c-h3 c-h3--tweak"> <span>BLEACHでの仕事のやりがい</span><br>インターン入社4か月目。<br>大型の予算を任せてもらい、<br>数千万円の売上をつくった</div>
						<div class="c-p">2018年7月に内定をいただき、9月からインターンを開始。大学での講義があった金曜日の夕方以外は、全ての時間をBLEACHでの仕事に費やしました。当初、任せられた仕事はグロースハッカー。ネット広告の運用を行う仕事でした。<br><br>入社3か月で仕事を覚えて、4か月目からは新規媒体（広告の出稿先）の開拓を任されました。これまでにBLEACHが出稿したことのない媒体で広告を出し、勝ちパターンをゼロからつくりあげて行く仕事です。かなりの試行錯誤を重ねた末に、あるメジャーの媒体での広告が当たり、数千万円のクライアント商品の売上をたたき出すことができました。他の広告を分析しながら「売れる要因」を探り、自己裁量で大型の広告費を投下。プレッシャーで胃が痛くなることもありましたし、失敗もありました。しかし、その全ての結果に正面から向き合って分析を重ねることで、何とか勝ちパターンを解明できたのです。<br><br>結果を出した後、経験の幅を広げるためにセールスライター職へと異動。まだ1か月も経っていませんが、幾つかの商材を任され、クライアントとミーティングを行って記事を作成しています。表現の切り口やライティングの手法など覚えることは多いですが、キャッチアップの速度を上げて、ヒット商品を生み出したいですね。</div>
					</div>
					<div class="t-block">
						<div class="c-h3 c-h3--tweak"><span>今後のビジョン</span><br>このチームの成長に、<br>ずっと貢献し続けること。<br>それが、私の目標です。</div>
						<div class="c-p">私の代は、BLEACHの新卒第1期生になります。後輩の模範となれるリーダー職に早く就きたいですね。そのためには、まずはこの1年間でプレイヤーとしてのスキルを身につけておきたい。セールスライティングだけではなく、広告の運用も極めて、マーケッターとして一人前になることが目標です。<br><br>その後は、マネジメントを学び、商品開発や子会社の立ち上げなど、BLEACHの事業の幅が拡がる動きをしていきたいです。同じような熱量を他の社員も持っています。組織一丸となって目標に向かうことで、自分一人ではできないような成長が果たせる。そう信じています。</div>
					</div>
				</div>
			</div>
			<div class="l-frame l-frame--sm t-other">
				<div class="t-other__image"><img src="image/suzuki-img02.jpg" alt=""></div>
				<p class="t-other__heading">他の社員を見る</p>
				<div class="t-slide t-slide--3 l-col l-col--fw">
					<div class="t-window l-col__3" data-interview="ohira">
						<div class="t-window__image"><a href="ohira.html"><img src="image/next-ohira.jpg" alt=""></a></div>
						<p class="t-window__pos">
							 大平 啓介<br>代表取締役社長</p>
					</div>
					<div class="t-window l-col__3" data-interview="watanabe">
						<div class="t-window__image"><a href="watanabe.html"><img src="image/next-watanabe.jpg" alt=""></a></div>
						<p class="t-window__pos">
							 渡邉 緑<br>マネージャー職</p>
					</div>
					<div class="t-window l-col__3" data-interview="mizutani">
						<div class="t-window__image"><a href="mizutani.html"><img src="image/next-mizutani.jpg" alt=""></a></div>
						<p class="t-window__pos">
							 水谷 慶<br>マネージャー職</p>
					</div>
					<div class="t-window l-col__3" data-interview="nakamura">
						<div class="t-window__image"><a href="nakamura.html"><img src="image/next-nakamura.jpg" alt=""></a></div>
						<p class="t-window__pos">
							 中村 悠人<br>セールスライター職</p>
					</div>
					<div class="t-window l-col__3" data-interview="nishimura">
						<div class="t-window__image"><a href="nishimura.html"><img src="image/next-nishimura.jpg" alt=""></a></div>
						<p class="t-window__pos">
							 西村 政晃<br>グロースハッカー職</p>
					</div>
					<div class="t-window l-col__3" data-interview="shimizu">
						<div class="t-window__image"><a href="shimizu.html"><img src="image/next-shimizu.jpg" alt=""></a></div>
						<p class="t-window__pos">
							 清水 里沙<br>セールスライター職</p>
					</div>
					<div class="t-window l-col__3" data-interview="suzuki">
						<div class="t-window__image"><a href="suzuki.html"><img src="image/next-suzuki.jpg" alt=""></a></div>
						<p class="t-window__pos">
							 鈴木 大志<br>セールスライター職</p>
					</div>
				</div>
			</div>
			<div class="l-frame">
				<div class="c-btn"><a href=".././index.html">トップページに戻る</a></div>
			</div>
			<div class="l-footer">
				<div class="l-footer__backtop"><a href=""><img src="../image/backtop.png" alt=""></a></div>
				<div class="l-footer__image"><img src="../image/footer-img01.jpg" alt=""></div>
				<div class="l-frame">
					<div class="l-frame--md">
						<div class="l-col">
							<div class="l-footer__link"><a class="c-ng" href="https://job.mynavi.jp/21/pc/search/corp229819/outline.html" target="_blank"><span>NEW GRADUATE</span><br>新卒採用エントリー</a></div>
							<div class="l-footer__link"><a class="c-mc" href="https://hrmos.co/pages/bleach" target="_blank"><span>MID-CAREER RECRUITMENT</span><br>中途採用エントリー</a></div>
						</div>
					</div>
				</div>
				<div class="l-frame">
					<p class="l-footer__text">SHARE</p>
					<div class="l-col--sp l-footer__sns">
						<div class="l-footer__sns__item"><a href="http://www.facebook.com/share.php?u=http://bleach.co.jp/recruit.html" target="_blank"><img src="../image/icon-facebook.png" alt=""></a></div>
						<div class="l-footer__sns__item"><a href="http://twitter.com/share?&amp;url=http://bleach.co.jp/&amp;hashtags=株式会社ブリーチHP" target="_blank"><img src="../image/icon-twitter.png" alt=""></a></div>
					</div>
				</div>
				<div class="l-frame">
					<div class="l-footer__copyright"><small>Copyright c BLEACH.Inc.All.Rights.Reserved.</small></div>
				</div>
			</div>
		</div>
		<script src="../asset/js/min/jquery-3.1.1.min.js"></script>
		<script src="../asset/js/min/velocity.min.js"></script>
		<script src="../asset/js/min/jquery.inview.min.js"></script>
		<script src="../asset/js/common.js"></script>
		<script src="../asset/js/min/jquery.bxslider.min.js"></script>
		<script src="../asset/js/theme-interview.js"></script>
	</body>
</html>

src/interview/suzuki.pug
include ../include/_mixin.pug
doctype html
html(lang="ja")
    head
        include ../include/_head.pug
        include ../include/_config.pug
            - var key = "interview_suzuki"
            - var page = page[key]
                include ../include/_meta.pug
        // stylesheets
        link(rel="stylesheet" href=rootPath + "asset/css/jquery.bxslider.css")
        link(rel="stylesheet" href=rootPath + "asset/css/theme-interview.css")

    body.interview(class=key)
        .l-limit
            include ../include/_header.pug

            //- =================================================================================================

            //- Let's Coding!!
            .l-frame.c-frombottom
                ul.c-breadcrumb
                    li.c-breadcrumb__item: a(href=rootPath + "index.html") 株式会社ブリーチ&nbsp;/&nbsp;
                    li.c-breadcrumb__item: a(href=rootPath + "interview/suzuki.html") Interview 鈴木 大志

                .l-col.l-col--sp
                    h2.c-h1 社員インタビュー
                    .c-category: img(src="image/category-interview.png" alt="")
                
                .l-frame--md
                    h3.c-h2
                        |インターン入社4か月目で、
                        br
                        |数千万円の売上をゼロからつくった。

                    .c-intro.l-col
                        .c-intro__image.l-col__2: img(src="image/suzuki-img01.jpg" alt="")
                        .c-intro__pf.l-col__2
                            p.c-intro__pf__name
                                |鈴木 大志
                                br
                                span セールスライター職
                            p.c-intro__pf__text 高校時代に水や食糧問題に関心を持ち、上智大学法学部 地球環境法学科に入学。大学時代は音楽活動に熱中。エレキベースの腕を磨き、紅白歌合戦にも出場経験があるゴスペルサークルに所属。
                                br
                                |「20代の内に誰よりも成長したい」という理由で、2019年4月、BLEACHに新卒第一期生として入社した。

            //- =================================================================================================

            .l-frame.c-frombottom
                .l-frame--sm
                    .t-block
                        .c-h3.c-h3--tweak
                            span BLEACHへの入社理由
                            br
                            |早くから権限を持てる場所で
                            br
                            |試行錯誤の中で成長したい
                        .c-p 就職活動の志望先は、ベンチャー企業に絞りました。20代の内に誰よりも成長して、何らかの形で歴史に名を残す人間になりたいからです。高校時代から水や食料の問題に興味があって、大学は地球環境法学科を選んだのですが、大きなことを成し遂げてみたいとずっと思っていました。そのためには、成長のスピードを極限まで高める必要がある。早くから権限を持てて、試行錯誤の高速回転の中で成長できる、ベンチャー企業に的を絞ったのです。
                            br
                            br
                            |数社のベンチャー企業から内定をいただきました。その中でBLEACHを選んだ理由は、社長の話に心を根こそぎ持って行かれたからです。「大企業に入る人が偉いんじゃない。大企業になる前の基盤をつくった人が本当は偉いんだ」という言葉には、心から共感できました。また、「自分が極めたマーケティングノウハウを、仕組みとして残して、商品の流通を変えたい」という話も印象に残っています。営利のためだけではなく、BLEACHならば社会のために大きな仕事ができそうだと確信。入社を決めました。

                    .t-block
                        .c-h3.c-h3--tweak 
                            span BLEACHでの仕事のやりがい
                            br
                            |インターン入社4か月目。
                            br
                            |大型の予算を任せてもらい、
                            br
                            |数千万円の売上をつくった
                        .c-p 2018年7月に内定をいただき、9月からインターンを開始。大学での講義があった金曜日の夕方以外は、全ての時間をBLEACHでの仕事に費やしました。当初、任せられた仕事はグロースハッカー。ネット広告の運用を行う仕事でした。
                            br
                            br
                            |入社3か月で仕事を覚えて、4か月目からは新規媒体（広告の出稿先）の開拓を任されました。これまでにBLEACHが出稿したことのない媒体で広告を出し、勝ちパターンをゼロからつくりあげて行く仕事です。かなりの試行錯誤を重ねた末に、あるメジャーの媒体での広告が当たり、数千万円のクライアント商品の売上をたたき出すことができました。他の広告を分析しながら「売れる要因」を探り、自己裁量で大型の広告費を投下。プレッシャーで胃が痛くなることもありましたし、失敗もありました。しかし、その全ての結果に正面から向き合って分析を重ねることで、何とか勝ちパターンを解明できたのです。
                            br
                            br
                            |結果を出した後、経験の幅を広げるためにセールスライター職へと異動。まだ1か月も経っていませんが、幾つかの商材を任され、クライアントとミーティングを行って記事を作成しています。表現の切り口やライティングの手法など覚えることは多いですが、キャッチアップの速度を上げて、ヒット商品を生み出したいですね。

                    .t-block
                        .c-h3.c-h3--tweak
                            span 今後のビジョン
                            br
                            |このチームの成長に、
                            br
                            |ずっと貢献し続けること。
                            br
                            |それが、私の目標です。
                        .c-p 私の代は、BLEACHの新卒第1期生になります。後輩の模範となれるリーダー職に早く就きたいですね。そのためには、まずはこの1年間でプレイヤーとしてのスキルを身につけておきたい。セールスライティングだけではなく、広告の運用も極めて、マーケッターとして一人前になることが目標です。
                            br
                            |
                            br
                            |その後は、マネジメントを学び、商品開発や子会社の立ち上げなど、BLEACHの事業の幅が拡がる動きをしていきたいです。同じような熱量を他の社員も持っています。組織一丸となって目標に向かうことで、自分一人ではできないような成長が果たせる。そう信じています。

            //- =================================================================================================

            .l-frame.l-frame--sm.t-other
                .t-other__image: img(src="image/suzuki-img02.jpg" alt="")

                p.t-other__heading 他の社員を見る

                include ../include/_interview.pug

            //- =================================================================================================

            .l-frame
                .c-btn: a(href=rootPath + "./index.html") トップページに戻る

            //- =================================================================================================

            include ../include/_footer.pug
        include ../include/_scripts.pug
        script(src=rootPath + "asset/js/min/jquery.bxslider.min.js")
        script(src=rootPath + "asset/js/theme-interview.js")
