dest/interview/watanabe.html
<!DOCTYPE html>
<html lang="ja">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width">
		<meta name="format-detection" content="telephone=no">
		<meta name="robots" content="index,follow">
		<!-- main title-->
		<title>株式会社ブリーチ | Interview 渡邉 緑</title>
		<!-- meta tags-->
		<meta name="description" content="株式会社ブリーチは「商売を大きく。日本から世界へ、冒険的な成長を。」というビジョンを掲げ、統合型デジタルマーケティングでD2C支援No.1を目指す企業です。私たちは、「ココロを共感させるマーケティング力」と「圧倒的な数字の分析力」、「成果を出す強い意志」を武器に社会のニーズに対して新しい解決策を生み出し続けます。">
		<meta property="og:title" content="株式会社ブリーチ | Interview 渡邉 緑">
		<meta property="og:type" content="website">
		<meta property="og:image" content="http://bleach.co.jp/og.png">
		<meta property="og:url" content="http://bleach.co.jp/recruit.html">
		<meta property="og:description" content="株式会社ブリーチは「商売を大きく。日本から世界へ、冒険的な成長を。」というビジョンを掲げ、統合型デジタルマーケティングでD2C支援No.1を目指す企業です。私たちは、「ココロを共感させるマーケティング力」と「圧倒的な数字の分析力」、「成果を出す強い意志」を武器に社会のニーズに対して新しい解決策を生み出し続けます。">
		<!-- favicon-->
		<link rel="shortcut icon" href="../favicon.ico" type="image/x-icon">
		<!-- google fonts-->
		<link href="https://fonts.googleapis.com/css?family=Roboto:300,400" rel="stylesheet">
		<!-- stylesheets-->
		<link rel="stylesheet" href="../asset/css/jquery.bxslider.css">
		<link rel="stylesheet" href="../asset/css/theme-interview.css">
	</head>
	<body class="interview interview_watanabe">
		<div class="l-limit">
			<div class="l-header">
				<div class="l-line"><span></span></div>
				<h1 class="l-header__logo"><a href="#" title="株式会社ブリーチ"><img src="../image/logo.png" alt="株式会社ブリーチ"></a></h1>
				<div class="l-col l-header__gnav">
					<div class="l-nav l-col">
						<ul class="l-nav__ul l-nav__ul--main l-col">
							<li class="l-nav__ul__item"><a class="bar-home" href="../index.html">Home</a></li>
							<li class="l-nav__ul__item"><a class="bar-company" href="../company/index.html">Company</a></li>
							<li class="l-nav__ul__item"><a class="bar-vision" href="../vision/index.html">Vision</a></li>
							<li class="l-nav__ul__item"><a class="bar-service" href="../service/index.html">Service</a></li>
							<li class="l-nav__ul__item l-nav__ul__item--btn">Interview<span></span>
								<ul class="l-nestnav">
									<li class="l-nestnav__item"><a href="../interview/ohira.html">代表取締役社長（大平啓介）</a></li>
									<li class="l-nestnav__item"><a href="../interview/mizutani.html">マネージャー（水谷慶）</a></li>
									<li class="l-nestnav__item"><a href="../interview/watanabe.html">マネージャー（渡邉緑）</a></li>
									<li class="l-nestnav__item"><a href="../interview/nakamura.html">セールスライター（中村悠人）</a></li>
									<li class="l-nestnav__item"><a href="../interview/shimizu.html">セールスライター（清水里沙）</a></li>
									<li class="l-nestnav__item"><a href="../interview/nishimura.html">グロースハッカー（西村政晃）</a></li>
									<li class="l-nestnav__item"><a href="../interview/suzuki.html">セールスライター（鈴木大志）</a></li>
								</ul>
							</li>
							<li class="l-nav__ul__item"><a class="bar-recruiting" href="../recruiting/index.html">Recruiting</a></li>
						</ul>
					</div>
					<div class="l-nav l-col">
						<ul class="l-nav__ul l-nav__ul--sub l-col l-col--sp">
							<li class="l-nav__ul__item l-nav__ul__item--entry l-nav__ul__item--bg"><a class="c-bg" href="../blog/">Blog</a></li>
							<li class="l-nav__ul__item l-nav__ul__item--entry l-nav__ul__item--ng"><a class="c-ng" href="https://job.mynavi.jp/21/pc/search/corp229819/outline.html" target="_blank">新卒エントリー</a></li>
							<li class="l-nav__ul__item l-nav__ul__item--entry l-nav__ul__item--mc"><a class="c-mc" href="https://hrmos.co/pages/bleach" target="_blank">中途エントリー</a></li>
						</ul>
					</div>
				</div>
			</div>
			<div class="l-frame c-frombottom">
				<ul class="c-breadcrumb">
					<li class="c-breadcrumb__item"><a href="../index.html">株式会社ブリーチ&nbsp;/&nbsp;</a></li>
					<li class="c-breadcrumb__item"><a href="../interview/watanabe.html">Interview 渡邉 緑</a></li>
				</ul>
				<div class="l-col l-col--sp">
					<h2 class="c-h1">社員インタビュー</h2>
					<div class="c-category"><img src="image/category-interview.png" alt=""></div>
				</div>
				<div class="l-frame--md">
					<h3 class="c-h2">“女性ならでは”の感性を活かして、<br>流行を生み出し、経済も動かせる仕事。</h3>
					<div class="c-intro l-col">
						<div class="c-intro__image l-col__2"><img src="image/watanabe-img01.jpg" alt=""></div>
						<div class="c-intro__pf l-col__2">
							<p class="c-intro__pf__name">渡邉 緑<br><span>マネージャー職</span></p>
							<p class="c-intro__pf__text">多摩美術大学を卒業後、イラストレーター・アシスタントとして、2012年にBLEACHにジョイン。その後は、クリエイティブ制作、デジタルマーケティングの運用業務なども担当し、社長の大平と二人三脚で会社の成長に寄与してきた。現在は、クリエイター組織のマネジメントや採用業務を中心に手掛け、現在の会社の実質的な創業期をリードしている。</p>
						</div>
					</div>
				</div>
			</div>
			<div class="l-frame c-frombottom">
				<div class="l-frame--sm">
					<div class="t-block">
						<div class="c-h3 c-h3--tweak"><span>BLEACHへの入社理由</span><br>この5年間を、社長とともに歩んできた</div>
						<div class="c-p">私がBLEACHにジョインして5年になります。社長以外では、最も社歴が長い社員です。アルバイトとして入社後、色々な経験を重ねてきました。会社の成長に伴い、新しい仕事をどんどん任せてくれて、それが楽しくてずっとこの会社にいます。ベンチャー企業ですから、業績が良いときもあれば、そうでないときもある。ピンチになったときは、不思議と「なんとかしてやろう！」と大きな力が湧いてきて、すぐに復活させてきました。鍛えられましたし、その経験が自信につながっています。これまで社長と二人三脚でやってきて、いまの実質的な創業期を迎えることができて、正直、感慨深いものはありますね。</div>
					</div>
					<div class="t-block">
						<div class="c-h3 c-h3--tweak"> <span>BLEACHでの仕事のやりがい</span><br>一生モノのマーケティングスキルが身につく</div>
						<div class="c-p">ここ2～3年で、BLEACHは急成長期に入りました。私のメインのミッションは、セールスライターの採用活動とマネジメントです。私自身、数多くの広告をつくってきました。そのノウハウを新人に伝授することにより、「売れるマーケティング活動」をスケールさせていきたいと考えています。私が採用活動でよく伝えているのが、「一生モノのマーケティングスキルが身につく」ということ。単に広告を制作するだけでなく、商品の魅力自体をクライアントに提案できる。そして、自分がつくった記事によって購買まで結びつけ、流行を生み出すこともできる。一人のクリエイターが、生み出す売上高は数億円にも上ります。女性ならではの感性も活かし、大きく経済を動かせる仕事がここにはあるのです。<br><br>場合によっては、クライアントに対して「その成分と内容量でしたら、価格から見直した方が良いです」と提案することもありますし、どの広告がどれくらいの売上につながったのかを、データを用いて細かく検証もしています。また、自分で予算を使って広告を出稿することで、実験的な取り組みを行うことも可能。より深くより速いPDCAを回すことで、ライターとしても、マーケターとしても、短期間で非常に高いレベルまで成長することができるのです。</div>
					</div>
					<div class="t-block">
						<div class="c-h3 c-h3--tweak"><span>今後のビジョン</span><br>ライティング力とマーケティング力を活かして、<br>新しい事業を形にしていきたい</div>
						<div class="c-p">セールスライティングチームがグロースした先には、そのライティング力・マーケティング力を活かした新規事業を形にしていきたいと考えています。「何がインターネットで売れるのか？」「どう表現したら、売れるのか？」という肌感覚は、広告づくり以外の事業にも活かせるはずです。たとえば、クライアントの製品開発チームに対して、商品のコンサルティングを行うこともできますし、全く別のWebサービス企画をライター主導でしてみたいとも思っています。セールスライターの新たなキャリアを形にすることが、ライターにとても、BLEACHにとっても、大きな成長をもたらしてくれるでしょう。</div>
					</div>
				</div>
			</div>
			<div class="l-frame l-frame--sm t-other">
				<div class="t-other__image"><img src="image/watanabe-img02.jpg" alt=""></div>
				<p class="t-other__heading">他の社員を見る</p>
				<div class="t-slide t-slide--3 l-col l-col--fw">
					<div class="t-window l-col__3" data-interview="ohira">
						<div class="t-window__image"><a href="ohira.html"><img src="image/next-ohira.jpg" alt=""></a></div>
						<p class="t-window__pos">
							 大平 啓介<br>代表取締役社長</p>
					</div>
					<div class="t-window l-col__3" data-interview="watanabe">
						<div class="t-window__image"><a href="watanabe.html"><img src="image/next-watanabe.jpg" alt=""></a></div>
						<p class="t-window__pos">
							 渡邉 緑<br>マネージャー職</p>
					</div>
					<div class="t-window l-col__3" data-interview="mizutani">
						<div class="t-window__image"><a href="mizutani.html"><img src="image/next-mizutani.jpg" alt=""></a></div>
						<p class="t-window__pos">
							 水谷 慶<br>マネージャー職</p>
					</div>
					<div class="t-window l-col__3" data-interview="nakamura">
						<div class="t-window__image"><a href="nakamura.html"><img src="image/next-nakamura.jpg" alt=""></a></div>
						<p class="t-window__pos">
							 中村 悠人<br>セールスライター職</p>
					</div>
					<div class="t-window l-col__3" data-interview="nishimura">
						<div class="t-window__image"><a href="nishimura.html"><img src="image/next-nishimura.jpg" alt=""></a></div>
						<p class="t-window__pos">
							 西村 政晃<br>グロースハッカー職</p>
					</div>
					<div class="t-window l-col__3" data-interview="shimizu">
						<div class="t-window__image"><a href="shimizu.html"><img src="image/next-shimizu.jpg" alt=""></a></div>
						<p class="t-window__pos">
							 清水 里沙<br>セールスライター職</p>
					</div>
					<div class="t-window l-col__3" data-interview="suzuki">
						<div class="t-window__image"><a href="suzuki.html"><img src="image/next-suzuki.jpg" alt=""></a></div>
						<p class="t-window__pos">
							 鈴木 大志<br>セールスライター職</p>
					</div>
				</div>
			</div>
			<div class="l-frame">
				<div class="c-btn"><a href=".././index.html">トップページに戻る</a></div>
			</div>
			<div class="l-footer">
				<div class="l-footer__backtop"><a href=""><img src="../image/backtop.png" alt=""></a></div>
				<div class="l-footer__image"><img src="../image/footer-img01.jpg" alt=""></div>
				<div class="l-frame">
					<div class="l-frame--md">
						<div class="l-col">
							<div class="l-footer__link"><a class="c-ng" href="https://job.mynavi.jp/21/pc/search/corp229819/outline.html" target="_blank"><span>NEW GRADUATE</span><br>新卒採用エントリー</a></div>
							<div class="l-footer__link"><a class="c-mc" href="https://hrmos.co/pages/bleach" target="_blank"><span>MID-CAREER RECRUITMENT</span><br>中途採用エントリー</a></div>
						</div>
					</div>
				</div>
				<div class="l-frame">
					<p class="l-footer__text">SHARE</p>
					<div class="l-col--sp l-footer__sns">
						<div class="l-footer__sns__item"><a href="http://www.facebook.com/share.php?u=http://bleach.co.jp/recruit.html" target="_blank"><img src="../image/icon-facebook.png" alt=""></a></div>
						<div class="l-footer__sns__item"><a href="http://twitter.com/share?&amp;url=http://bleach.co.jp/&amp;hashtags=株式会社ブリーチHP" target="_blank"><img src="../image/icon-twitter.png" alt=""></a></div>
					</div>
				</div>
				<div class="l-frame">
					<div class="l-footer__copyright"><small>Copyright c BLEACH.Inc.All.Rights.Reserved.</small></div>
				</div>
			</div>
		</div>
		<script src="../asset/js/min/jquery-3.1.1.min.js"></script>
		<script src="../asset/js/min/velocity.min.js"></script>
		<script src="../asset/js/min/jquery.inview.min.js"></script>
		<script src="../asset/js/common.js"></script>
		<script src="../asset/js/min/jquery.bxslider.min.js"></script>
		<script src="../asset/js/theme-interview.js"></script>
	</body>
</html>

src/interview/watanabe.pug
include ../include/_mixin.pug
doctype html
html(lang="ja")
    head
        include ../include/_head.pug
        include ../include/_config.pug
            - var key = "interview_watanabe"
            - var page = page[key]
                include ../include/_meta.pug
        // stylesheets
        link(rel="stylesheet" href=rootPath + "asset/css/jquery.bxslider.css")
        link(rel="stylesheet" href=rootPath + "asset/css/theme-interview.css")

    body.interview(class=key)
        .l-limit
            include ../include/_header.pug

            //- =================================================================================================

            //- Let's Coding!!
            .l-frame.c-frombottom
                ul.c-breadcrumb
                    li.c-breadcrumb__item: a(href=rootPath + "index.html") 株式会社ブリーチ&nbsp;/&nbsp;
                    li.c-breadcrumb__item: a(href=rootPath + "interview/watanabe.html") Interview 渡邉 緑

                .l-col.l-col--sp
                    h2.c-h1 社員インタビュー
                    .c-category: img(src="image/category-interview.png" alt="")
                
                .l-frame--md
                    h3.c-h2
                        |“女性ならでは”の感性を活かして、
                        br
                        |流行を生み出し、経済も動かせる仕事。

                    .c-intro.l-col
                        .c-intro__image.l-col__2: img(src="image/watanabe-img01.jpg" alt="")
                        .c-intro__pf.l-col__2
                            p.c-intro__pf__name
                                |渡邉 緑
                                br
                                span マネージャー職
                            p.c-intro__pf__text 多摩美術大学を卒業後、イラストレーター・アシスタントとして、2012年にBLEACHにジョイン。その後は、クリエイティブ制作、デジタルマーケティングの運用業務なども担当し、社長の大平と二人三脚で会社の成長に寄与してきた。現在は、クリエイター組織のマネジメントや採用業務を中心に手掛け、現在の会社の実質的な創業期をリードしている。

            //- =================================================================================================

            .l-frame.c-frombottom
                .l-frame--sm
                    .t-block
                        .c-h3.c-h3--tweak
                            span BLEACHへの入社理由
                            br
                            |この5年間を、社長とともに歩んできた
                        .c-p 私がBLEACHにジョインして5年になります。社長以外では、最も社歴が長い社員です。アルバイトとして入社後、色々な経験を重ねてきました。会社の成長に伴い、新しい仕事をどんどん任せてくれて、それが楽しくてずっとこの会社にいます。ベンチャー企業ですから、業績が良いときもあれば、そうでないときもある。ピンチになったときは、不思議と「なんとかしてやろう！」と大きな力が湧いてきて、すぐに復活させてきました。鍛えられましたし、その経験が自信につながっています。これまで社長と二人三脚でやってきて、いまの実質的な創業期を迎えることができて、正直、感慨深いものはありますね。

                    .t-block
                        .c-h3.c-h3--tweak 
                            span BLEACHでの仕事のやりがい
                            br
                            |一生モノのマーケティングスキルが身につく
                        .c-p ここ2～3年で、BLEACHは急成長期に入りました。私のメインのミッションは、セールスライターの採用活動とマネジメントです。私自身、数多くの広告をつくってきました。そのノウハウを新人に伝授することにより、「売れるマーケティング活動」をスケールさせていきたいと考えています。私が採用活動でよく伝えているのが、「一生モノのマーケティングスキルが身につく」ということ。単に広告を制作するだけでなく、商品の魅力自体をクライアントに提案できる。そして、自分がつくった記事によって購買まで結びつけ、流行を生み出すこともできる。一人のクリエイターが、生み出す売上高は数億円にも上ります。女性ならではの感性も活かし、大きく経済を動かせる仕事がここにはあるのです。
                            br
                            br
                            |場合によっては、クライアントに対して「その成分と内容量でしたら、価格から見直した方が良いです」と提案することもありますし、どの広告がどれくらいの売上につながったのかを、データを用いて細かく検証もしています。また、自分で予算を使って広告を出稿することで、実験的な取り組みを行うことも可能。より深くより速いPDCAを回すことで、ライターとしても、マーケターとしても、短期間で非常に高いレベルまで成長することができるのです。

                    .t-block
                        .c-h3.c-h3--tweak
                            span 今後のビジョン
                            br
                            |ライティング力とマーケティング力を活かして、
                            br
                            |新しい事業を形にしていきたい
                        .c-p セールスライティングチームがグロースした先には、そのライティング力・マーケティング力を活かした新規事業を形にしていきたいと考えています。「何がインターネットで売れるのか？」「どう表現したら、売れるのか？」という肌感覚は、広告づくり以外の事業にも活かせるはずです。たとえば、クライアントの製品開発チームに対して、商品のコンサルティングを行うこともできますし、全く別のWebサービス企画をライター主導でしてみたいとも思っています。セールスライターの新たなキャリアを形にすることが、ライターにとても、BLEACHにとっても、大きな成長をもたらしてくれるでしょう。

            //- =================================================================================================

            .l-frame.l-frame--sm.t-other
                .t-other__image: img(src="image/watanabe-img02.jpg" alt="")

                p.t-other__heading 他の社員を見る

                include ../include/_interview.pug

            //- =================================================================================================

            .l-frame
                .c-btn: a(href=rootPath + "./index.html") トップページに戻る

            //- =================================================================================================

            include ../include/_footer.pug
        include ../include/_scripts.pug
        script(src=rootPath + "asset/js/min/jquery.bxslider.min.js")
        script(src=rootPath + "asset/js/theme-interview.js")
