src/company/index.pug
include ../include/_mixin.pug
doctype html
html(lang="ja")
    head
        include ../include/_head.pug
        include ../include/_config.pug
            - var key = "company"
            - var page = page[key]
                include ../include/_meta.pug
        // stylesheets
        link(rel="stylesheet" href=rootPath + "asset/css/slick-theme.css")
        link(rel="stylesheet" href=rootPath + "asset/css/slick.css")
        link(rel="stylesheet" href=rootPath + "asset/css/theme-company.css")

    body.company
        .l-limit
            include ../include/_header.pug

            //- =================================================================================================

            //- Let's Coding!!
            .l-frame
                ul.c-breadcrumb
                    li.c-breadcrumb__item: a(href="") 株式会社ブリーチ&nbsp;/&nbsp;
                    li.c-breadcrumb__item: a(href="") Company 会社について

                .l-col.l-col--sp
                    h2.c-h1 会社について
                    .c-category: img(src="image/service-company.png" alt="")

            //- =================================================================================================

            .l-frame
                .l-frame--md.t-cover
                    p.c-h3 会社概要

                    table.t-table--pc
                        tr
                            th 会社名
                            td 株式会社ブリーチ Bleach. Inc
                        tr
                            th 代表者
                            td 代表取締役社長 大平啓介
                                br
                                a(href=rootPath + "interview/ohira.html") インタビューはこちら
                        tr
                            th 所在地
                            td 〒150-0045 東京都渋谷区神泉町11-7 セロンビル2F/4F
                        tr
                            th 最寄り駅
                            td 京王線・井の頭線　神泉駅より徒歩5分
                                br
                                |渋谷駅　マークシティ側出口より徒歩7分
                        tr
                            th 設立
                            td 2010年 4月28日
                        tr
                            th 資本金
                            td 1億円
                        tr
                            th 従業員数
                            td 18名（正社員15名）
                        tr
                            th 電話番号
                            td 03-6265-8346
                        tr
                            th 事業内容
                            td シェアリング型統合マーケティング事業
                        tr.t-table--last
                            th お問い合わせ
                            td 
                                a(href="http://bleach.co.jp/mailform.html", target="_blank") メール
                                |にてお問い合わせください

                    table.t-table--sp
                        tr
                            td: b 会社名
                            th 株式会社ブリーチ Bleach. Inc
                        tr
                            td: b 代表者
                            th 代表取締役社長 大平啓介
                                br
                                a(href=rootPath + "interview/ohira.html") インタビューはこちら
                        tr
                            td: b 所在地
                            th 〒150-0045 東京都渋谷区神泉町11-7 セロンビル2F/4F
                        tr
                            td: b 最寄り駅
                            th 京王線・井の頭線　神泉駅より徒歩5分
                                br
                                |渋谷駅　マークシティ側出口より徒歩7分
                        tr
                            td: b 設立
                            th 2010年 4月28日
                        tr
                            td: b 資本金
                            th 1億円
                        tr
                            td: b 従業員数
                            th 18名（正社員15名）
                        tr
                            td: b 電話番号
                            th 03-6265-8346
                        tr
                            td: b 事業内容
                            th シェアリング型統合マーケティング事業
                        tr.t-table--last
                            th お問い合わせ
                            td 
                                a(href="http://bleach.co.jp/mailform.html", target="_blank") メール
                                |にてお問い合わせください

            //- =================================================================================================
            
            .l-frame
                .l-frame--md.t-cover
                    p.c-h3 アクセス

                    .t-map
                        iframe(src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3241.869173036519!2d139.69014940159542!3d35.655594788886084!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x60188b554215acef%3A0x313a102faae14da8!2z44CSMTUwLTAwNDUg5p2x5Lqs6YO95riL6LC35Yy656We5rOJ55S677yR77yR4oiS77yWIOOCu-ODreODs-ODk-ODqw!5e0!3m2!1sja!2sjp!4v1527135930517" width="100%" height="450" frameborder="0" style="border:0" allowfullscreen)

            //- =================================================================================================

            .l-frame
                .c-btn: a(href=rootPath + "./index.html") トップページに戻る

            //- =================================================================================================

            include ../include/_footer.pug
        include ../include/_scripts.pug
        script(src=rootPath + "asset/js/min/slick.min.js")
        script(src=rootPath + "asset/js/min/vivus.min.js")
        script(src=rootPath + "asset/js/theme-company.js")

dest/company/index.html
<!DOCTYPE html>
<html lang="ja">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width">
		<meta name="format-detection" content="telephone=no">
		<meta name="robots" content="index,follow">
		<!-- main title-->
		<title>株式会社ブリーチ | Company 会社と事業について</title>
		<!-- meta tags-->
		<meta name="description" content="株式会社ブリーチは「商売を大きく。日本から世界へ、冒険的な成長を。」というビジョンを掲げ、統合型デジタルマーケティングでD2C支援No.1を目指す企業です。私たちは、「ココロを共感させるマーケティング力」と「圧倒的な数字の分析力」、「成果を出す強い意志」を武器に社会のニーズに対して新しい解決策を生み出し続けます。">
		<meta property="og:title" content="株式会社ブリーチ | Company 会社と事業について">
		<meta property="og:type" content="website">
		<meta property="og:image" content="http://bleach.co.jp/og.png">
		<meta property="og:url" content="http://bleach.co.jp/recruit.html">
		<meta property="og:description" content="株式会社ブリーチは「商売を大きく。日本から世界へ、冒険的な成長を。」というビジョンを掲げ、統合型デジタルマーケティングでD2C支援No.1を目指す企業です。私たちは、「ココロを共感させるマーケティング力」と「圧倒的な数字の分析力」、「成果を出す強い意志」を武器に社会のニーズに対して新しい解決策を生み出し続けます。">
		<!-- favicon-->
		<link rel="shortcut icon" href="../favicon.ico" type="image/x-icon">
		<!-- google fonts-->
		<link href="https://fonts.googleapis.com/css?family=Roboto:300,400" rel="stylesheet">
		<!-- stylesheets-->
		<link rel="stylesheet" href="../asset/css/slick-theme.css">
		<link rel="stylesheet" href="../asset/css/slick.css">
		<link rel="stylesheet" href="../asset/css/theme-company.css">
	</head>
	<body class="company">
		<div class="l-limit">
			<div class="l-header">
				<div class="l-line"><span></span></div>
				<h1 class="l-header__logo"><a href="#" title="株式会社ブリーチ"><img src="../image/logo.png" alt="株式会社ブリーチ"></a></h1>
				<div class="l-col l-header__gnav">
					<div class="l-nav l-col">
						<ul class="l-nav__ul l-nav__ul--main l-col">
							<li class="l-nav__ul__item"><a class="bar-home" href="../index.html">Home</a></li>
							<li class="l-nav__ul__item"><a class="bar-company" href="../company/index.html">Company</a></li>
							<li class="l-nav__ul__item"><a class="bar-vision" href="../vision/index.html">Vision</a></li>
							<li class="l-nav__ul__item"><a class="bar-service" href="../service/index.html">Service</a></li>
							<li class="l-nav__ul__item l-nav__ul__item--btn">Interview<span></span>
								<ul class="l-nestnav">
									<li class="l-nestnav__item"><a href="../interview/ohira.html">代表取締役社長（大平啓介）</a></li>
									<li class="l-nestnav__item"><a href="../interview/mizutani.html">マネージャー（水谷慶）</a></li>
									<li class="l-nestnav__item"><a href="../interview/watanabe.html">マネージャー（渡邉緑）</a></li>
									<li class="l-nestnav__item"><a href="../interview/nakamura.html">セールスライター（中村悠人）</a></li>
									<li class="l-nestnav__item"><a href="../interview/shimizu.html">セールスライター（清水里沙）</a></li>
									<li class="l-nestnav__item"><a href="../interview/nishimura.html">グロースハッカー（西村政晃）</a></li>
									<li class="l-nestnav__item"><a href="../interview/suzuki.html">セールスライター（鈴木大志）</a></li>
								</ul>
							</li>
							<li class="l-nav__ul__item"><a class="bar-recruiting" href="../recruiting/index.html">Recruiting</a></li>
						</ul>
					</div>
					<div class="l-nav l-col">
						<ul class="l-nav__ul l-nav__ul--sub l-col l-col--sp">
							<li class="l-nav__ul__item l-nav__ul__item--entry l-nav__ul__item--bg"><a class="c-bg" href="../blog/">Blog</a></li>
							<li class="l-nav__ul__item l-nav__ul__item--entry l-nav__ul__item--ng"><a class="c-ng" href="https://job.mynavi.jp/21/pc/search/corp229819/outline.html" target="_blank">新卒エントリー</a></li>
							<li class="l-nav__ul__item l-nav__ul__item--entry l-nav__ul__item--mc"><a class="c-mc" href="https://hrmos.co/pages/bleach" target="_blank">中途エントリー</a></li>
						</ul>
					</div>
				</div>
			</div>
			<div class="l-frame">
				<ul class="c-breadcrumb">
					<li class="c-breadcrumb__item"><a href="">株式会社ブリーチ&nbsp;/&nbsp;</a></li>
					<li class="c-breadcrumb__item"><a href="">Company 会社について</a></li>
				</ul>
				<div class="l-col l-col--sp">
					<h2 class="c-h1">会社について</h2>
					<div class="c-category"><img src="image/service-company.png" alt=""></div>
				</div>
			</div>
			<div class="l-frame">
				<div class="l-frame--md t-cover">
					<p class="c-h3">会社概要</p>
					<table class="t-table--pc">
						<tr>
							<th>会社名</th>
							<td>株式会社ブリーチ Bleach. Inc</td>
						</tr>
						<tr>
							<th>代表者</th>
							<td>代表取締役社長 大平啓介<br><a href="../interview/ohira.html">インタビューはこちら</a></td>
						</tr>
						<tr>
							<th>所在地</th>
							<td>〒150-0045 東京都渋谷区神泉町11-7 セロンビル2F/4F</td>
						</tr>
						<tr>
							<th>最寄り駅</th>
							<td>京王線・井の頭線　神泉駅より徒歩5分<br>渋谷駅　マークシティ側出口より徒歩7分</td>
						</tr>
						<tr>
							<th>設立</th>
							<td>2010年 4月28日</td>
						</tr>
						<tr>
							<th>資本金</th>
							<td>1億円</td>
						</tr>
						<tr>
							<th>従業員数</th>
							<td>18名（正社員15名）</td>
						</tr>
						<tr>
							<th>電話番号</th>
							<td>03-6265-8346</td>
						</tr>
						<tr>
							<th>事業内容</th>
							<td>シェアリング型統合マーケティング事業</td>
						</tr>
						<tr class="t-table--last">
							<th>お問い合わせ</th>
							<td> <a href="http://bleach.co.jp/mailform.html" target="_blank">メール</a>にてお問い合わせください</td>
						</tr>
					</table>
					<table class="t-table--sp">
						<tr>
							<td><b>会社名</b></td>
							<th>株式会社ブリーチ Bleach. Inc</th>
						</tr>
						<tr>
							<td><b>代表者</b></td>
							<th>代表取締役社長 大平啓介<br><a href="../interview/ohira.html">インタビューはこちら</a></th>
						</tr>
						<tr>
							<td><b>所在地</b></td>
							<th>〒150-0045 東京都渋谷区神泉町11-7 セロンビル2F/4F</th>
						</tr>
						<tr>
							<td><b>最寄り駅</b></td>
							<th>京王線・井の頭線　神泉駅より徒歩5分<br>渋谷駅　マークシティ側出口より徒歩7分</th>
						</tr>
						<tr>
							<td><b>設立</b></td>
							<th>2010年 4月28日</th>
						</tr>
						<tr>
							<td><b>資本金</b></td>
							<th>1億円</th>
						</tr>
						<tr>
							<td><b>従業員数</b></td>
							<th>18名（正社員15名）</th>
						</tr>
						<tr>
							<td><b>電話番号</b></td>
							<th>03-6265-8346</th>
						</tr>
						<tr>
							<td><b>事業内容</b></td>
							<th>シェアリング型統合マーケティング事業</th>
						</tr>
						<tr class="t-table--last">
							<th>お問い合わせ</th>
							<td> <a href="http://bleach.co.jp/mailform.html" target="_blank">メール</a>にてお問い合わせください</td>
						</tr>
					</table>
				</div>
			</div>
			<div class="l-frame">
				<div class="l-frame--md t-cover">
					<p class="c-h3">アクセス</p>
					<div class="t-map">
						<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3241.869173036519!2d139.69014940159542!3d35.655594788886084!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x60188b554215acef%3A0x313a102faae14da8!2z44CSMTUwLTAwNDUg5p2x5Lqs6YO95riL6LC35Yy656We5rOJ55S677yR77yR4oiS77yWIOOCu-ODreODs-ODk-ODqw!5e0!3m2!1sja!2sjp!4v1527135930517" width="100%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
					</div>
				</div>
			</div>
			<div class="l-frame">
				<div class="c-btn"><a href=".././index.html">トップページに戻る</a></div>
			</div>
			<div class="l-footer">
				<div class="l-footer__backtop"><a href=""><img src="../image/backtop.png" alt=""></a></div>
				<div class="l-footer__image"><img src="../image/footer-img01.jpg" alt=""></div>
				<div class="l-frame">
					<div class="l-frame--md">
						<div class="l-col">
							<div class="l-footer__link"><a class="c-ng" href="https://job.mynavi.jp/21/pc/search/corp229819/outline.html" target="_blank"><span>NEW GRADUATE</span><br>新卒採用エントリー</a></div>
							<div class="l-footer__link"><a class="c-mc" href="https://hrmos.co/pages/bleach" target="_blank"><span>MID-CAREER RECRUITMENT</span><br>中途採用エントリー</a></div>
						</div>
					</div>
				</div>
				<div class="l-frame">
					<p class="l-footer__text">SHARE</p>
					<div class="l-col--sp l-footer__sns">
						<div class="l-footer__sns__item"><a href="http://www.facebook.com/share.php?u=http://bleach.co.jp/recruit.html" target="_blank"><img src="../image/icon-facebook.png" alt=""></a></div>
						<div class="l-footer__sns__item"><a href="http://twitter.com/share?&amp;url=http://bleach.co.jp/&amp;hashtags=株式会社ブリーチHP" target="_blank"><img src="../image/icon-twitter.png" alt=""></a></div>
					</div>
				</div>
				<div class="l-frame">
					<div class="l-footer__copyright"><small>Copyright c BLEACH.Inc.All.Rights.Reserved.</small></div>
				</div>
			</div>
		</div>
		<script src="../asset/js/min/jquery-3.1.1.min.js"></script>
		<script src="../asset/js/min/velocity.min.js"></script>
		<script src="../asset/js/min/jquery.inview.min.js"></script>
		<script src="../asset/js/common.js"></script>
		<script src="../asset/js/min/slick.min.js"></script>
		<script src="../asset/js/min/vivus.min.js"></script>
		<script src="../asset/js/theme-company.js"></script>
	</body>
</html>
